.footer {
  height: 44.8125rem;
  text-align: center;
  background: url("@/assets/img/home/footer_bg.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 44.8125rem;
  background-position: center center;
}

.footer-container {
  width: 95rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-featured{
  width: 95rem;
  margin: 0 auto;
  margin-top:1.5rem;
  .fetaure-tip{
    font-family: Tomorrow;
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: white;
    margin-top: 1rem;
  }
  .footer-featured-img{
    display: flex;
    .friendship-logo{
      margin-right: 1.875rem;
    }
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.header-logo {
  width: fit-content;
  height: 3.625rem;
  cursor: pointer;
  position: relative;
  margin-bottom: 1.25rem;

  img {
    width: auto;
    height: 100%;
  }
}

.friendship-logo {
  width: fit-content;
  height: 2rem;
  cursor: pointer;
  position: relative;
  margin-top: 1.25rem;

  img {
    width: auto;
    height: 100%;
  }
}

.in_progress {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}

.footer-nav-box {
  display: flex;
  width: 60%;
}
.footer_interval {
  padding: 0 2.5rem;
}
.footer-nav-items {
  width: 50%;
  display: flex;
  justify-content: center;
}

.footer-nav-items {
  .footer-nav-text {
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: left;
    color: white;
    cursor: pointer;

    &.active {
      font-family: Tomorrow;
      font-size: 1.375rem;
      font-weight: bold;
      color: white;
      margin-bottom: 0.625rem;
      cursor: auto;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;

  & > li + li {
    margin-top: 0.625rem;
  }

  & > li {
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;

    &.active {
      font-family: Tomorrow;
      font-size: 1.375rem;
      font-weight: bold;
      color: white;
      margin-bottom: 0.625rem;
      cursor: auto;
    }
  }
}

.footer-social {
  font-family: Tomorrow;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: white;
  padding-bottom: 1rem;
}
.footer-contact {
  margin-top: 1.25rem;
  .footer-contact-label {
    padding-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
}

.footer-link {
  display: flex;
  margin-bottom: .75rem;

  & > li + li {
    margin-left: 0.75rem;
  }
}

.footer-link-icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}

:deep(.language_select) {
  margin-top: 1.875rem;

  .el-input {
    .el-input__wrapper {
      &.is-focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }

  .el-input__wrapper {
    box-shadow: none !important;
    outline: none !important;
    width: 12.5rem;
    height: 2.5rem;
    padding: 0.25rem 1.25rem;
    border-radius: 0.5rem;
    background-color: #311e4a;
    box-sizing: border-box;

    & > input {
      height: auto;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1;
      text-align: left;
      color: white;
    }
  }
}

@media screen and (max-width: 950px) {
  .footer {
    padding: 0 1.5rem;
    height: auto;
    background-size: contain;
    background-position: center bottom;
    margin-top: 5rem;
  }

  .footer-container {
    width: auto;
    flex-direction: column;
  }
  .footer-featured{
    width: 100%;
    margin-bottom: 3rem;
    .fetaure-tip{
      font-size: 1rem;
      line-height: 1.2;
      text-align: center;
    }
    .footer-featured-img{
      justify-content: center;
      .friendship-logo{
        height: 1rem;
        margin-right: 1rem;
        &:last-child{
          margin-right: 0;
        }
        .in_progress{
          font-size: .75rem;
        }
      }
    }
  }
  .footer-nav-box {
    width: 100%;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header-logo {
      width: auto;
      height: 2rem;
      cursor: pointer;
      position: relative;
      margin-bottom: 0.75rem;

      img {
        width: auto;
        height: 100%;
      }
    }

    font-size: 0.75rem;
    text-align: center;
    line-height: 1.2;

    .friendship-logo {
      width: auto;
      height: 1.5rem;
      margin-top: 0.75rem;

      img {
        width: auto;
        height: 100%;
      }
    }

    .in_progress {
      font-size: 0.75rem;
      text-align: center;
    }
  }

  .footer-nav-box {
    display: block;
    padding-top: 1.5rem;

    img {
      display: none;
    }
  }

  .footer-nav-items {
    flex: 1;
    width: 100%;
    display: block;
    margin-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 0;
    }
    .footer-nav-text {
      padding: 0;
      font-size: 0.75rem;
      line-height: 1.2;
      text-align: center;

      &.active {
        font-size: 1rem;
        margin-bottom: 0.75rem;
      }
    }
  }

  .footer-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;

    & > li + li {
      margin-top: 0;
      margin-left: 0.625rem;
    }

    & > li {
      font-size: 0.625rem;
      line-height: 1.2;

      &.active {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .footer-social {
    padding-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.2;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .footer-contact {
    margin-top: 0;
  }

  .footer-link {
    display: flex;
    justify-content: center;

    & > li + li {
      margin-left: 1.5rem;
    }
  }

  .footer-link-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  :deep(.language_select) {
    margin-top: 0;
    margin-bottom: 1.5rem;

    .el-input__wrapper {
      width: 8rem;
      height: 1.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      background-color: #311e4a;

      & > input {
        font-size: 0.75rem;
      }
    }
  }
}
