.result-dialog-content {
  --white: #e4e7f5;
}
.result-dialog-content-ten {
  .result-title {
    margin-top: 5rem;
  }
}
.result-dialog-content-five,
.result-dialog-content-ten {
  .result-club-title {
    font-size: 0.875rem;
  }
  .result-coin {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  .result-sell-number,
  .result-sell-coin {
    font-size: 1rem;
  }
}

.result-title {
  font-family: Tomorrow;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.result-illustrate {
  font-size: 0.875rem;
  color: #a9a4b4;
  text-align: center;
}
.result-main {
  max-width: 71.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3.75rem;
  gap: 0.625rem;
}
.result-main .result-list {
  width: calc((100% - 40px) / 5);
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  &.result-more-list {
    width: 13.75rem;
    min-height: 19.8rem !important;
  }
}
.onlyTen {
  margin-top: 1rem !important;
}
.onlyOne {
  justify-content: center;
  margin-top: 1rem !important;
}
.onlyOne .result-list {
  width: 22.3125rem;
  min-height: 34.75rem;
  .result-sub-list {
    height: 100%;
  }
}
.result-list {
  position: relative;
  box-sizing: border-box;
}
.result-sub-list {
  mix-blend-mode: lighten;
  border-radius: 8px;
  padding: 0.625rem;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.back-card-box {
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.result-sub-flip,
.back-card-box {
  display: block;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.result-sub-flip {
  transform: rotateY(180deg);
}
@keyframes flip {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(1.1) rotateY(90deg);
  }
  75% {
    transform: scale(1.15) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(180deg);
  }
}
@keyframes flop {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  50% {
    transform: scale(1.1) rotateY(90deg);
  }
  75% {
    transform: scale(1.15) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(180deg);
  }
}
.result-list.flip {
  animation: flop 0.4s linear 1 forwards;
}
.result-list.flop {
  animation: flip 0.4s linear 1 forwards;
  animation-delay: 1s;
}
.result-portrait {
  width: 100%;
  padding-top: 100%;
  height: 0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.result-portrait-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.result-club {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
}
.result-club-title {
  font-size: 1.125rem;
  color: var(--white);
  width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  align-content: center;
}
.result-club-title-text {
  display: inline-block;
  max-width: calc(100% - 1em);
}
.result-more-list {
  .result-club-title-text {
    font-family: BlenderPro;
    font-weight: normal;
    font-size: 1rem;
    color: #e4e7f5;
  }
}
.result-club-serial {
  font-family: Inter;
  font-size: 0.875rem;
  color: #0cbb3e;
  max-width: 19%;
}
.result-coin {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: left;
  color: #11cde9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-coin-number {
  display: inline-block;
  max-width: calc(100% - 70px - 5px);
  margin-right: 5px;
}
.result-one-button {
  width: 100%;
  font-size: 0.875rem;
  padding: 1.4rem;
  height: 0;
}
.result-total {
  font-family: LeagueSpartan;
  font-weight: bold;
  font-size: 1.5rem;
  color: #2761f5;
  margin: 0 0.625rem;
}
.result-end {
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #b9abf6;
  margin-top: 1.5rem;
  text-align: center;
}
.result-one-footer {
  margin-top: 0.625rem;
}
.result-sell {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 23px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.result-sell-text {
  font-size: 0.875rem;
  color: var(--white);
  min-width: max-content;
}
.result-sell-coin,
.result-sell-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fad54d;
  margin-left: 8px;
}
.result-sell-number {
  display: inline-block;
  max-width: calc(100% - 150px);
}
.result-sell-coin {
  min-width: max-content;
}
.result-footer {
  margin-top: 3.75rem;
}
.resule-footer-buttons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.result-footer-button {
  height: 2.5rem;
  min-width: 318px;
  box-sizing: border-box;
}
.result-main {
  .result-list {
    .LEGEND {
      background-image: url("@/assets/img/lottery/more_LEGEND.webp");
    }
    .EPIC {
      background-image: url("@/assets/img/lottery/more_EPIC.webp");
    }
    .RARE {
      background-image: url("@/assets/img/lottery/more_RARE.webp");
    }
    .NORMAL {
      background-image: url("@/assets/img/lottery/more_NORMAL.webp");
    }
  }
}

.more-list {
  &.pointer-box {
    cursor: pointer;
  }
  &.LEGEND {
    background-image: url("@/assets/img/lottery/LEGEND_more.png");
  }
  &.EPIC {
    background-image: url("@/assets/img/lottery/EPIC_more.png");
  }
  &.RARE {
    background-image: url("@/assets/img/lottery/RARE_more.png");
  }
  &.NORMAL {
    background-image: url("@/assets/img/lottery/NORMAL_more.png");
  }
}
.choose-list {
  &.LEGEND {
    background-image: url("@/assets/img/lottery/LEGEND_more_choose.png");
  }
  &.EPIC {
    background-image: url("@/assets/img/lottery/EPIC_more_choose.png");
  }
  &.RARE {
    background-image: url("@/assets/img/lottery/RARE_more_choose.png");
  }
  &.NORMAL {
    background-image: url("@/assets/img/lottery/NORMAL_more_choose.png");
  }
}
.hold-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(19, 7, 27, 0.8) url("@/assets/img/lottery/hold.png") center no-repeat;
}
.result-link {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-around;
  margin: 16px auto;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid 1px #25293e;
  background-color: #110429;
  font-size: 0.875rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.result-link-img {
  width: 2.5rem;
  height: 2.5rem;
}
.result-link-line {
  padding: 0 0.625rem;
}
.result-link-text {
  color: #a9a4b4;
  text-align: left;
  white-space: break-spaces;
}
.result-link-go-view {
  color: #fad54d;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}
.result-link-go-users {
  color: #e4e7f5;
}
.not-click {
  cursor: default;
  pointer-events: none;
  background: #292c36;
  background-image: none !important;
  color: #a9a4b4 !important;
  border: solid 1px rgba(228, 231, 245, 0.15) !important;
}
.result-sell-get {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a9a4b4;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  gap: 0.3125rem;
}
@media screen and (max-width: 1600px) {
  .result-dialog-content-ten {
    .result-title {
      margin-top: 7rem;
    }
  }
}

@media (max-height: 1200px) {
  .result-dialog-content-ten {
    margin-top: -10rem;
  }
}

@media (max-width: 950px) {
  .result-dialog-content {
    .result-title {
      font-size: 1.125rem;
    }
    .result-illustrate {
      display: none;
    }
    .result-main {
      margin-top: 1.25rem !important;
    }
    .result-sub-list {
      padding: 0.625rem;
    }
    .result-club-title {
      font-size: 0.625rem;
    }
    .verity-icon {
      width: 0.875rem;
    }
    .result-club-serial {
      transform: scale(0.7);
      transform-origin: right bottom;
    }
    .result-sell-text-box {
      margin-top: 0;
    }
    .result-sell-coin {
      font-size: 0.625rem !important;
      img {
        width: 0.875rem !important;
        height: 0.875rem !important;
      }
    }
    .result-one-button {
      padding: 0.7rem;
      font-size: 0.5rem;
    }
    .result-one-footer {
      height: 4rem;
    }
    .public-dialog-icon {
      width: 1rem;
      height: 1rem;
    }
    .result-total {
      font-size: 1rem;
      top: 0.1rem;
    }
    .result-end {
      margin-top: 1.25rem !important;
    }
    .result-link {
      padding: 0.625rem;
      font-size: 0.5rem /* 8/16 */;
      .result-link-img {
        width: 1.5rem;
        height: 1.5rem;
      }
      .result-link-line {
        padding: 0 0.5625rem;
      }
    }
    .onlyOne {
      .result-list {
        width: 13.25rem;
        min-height: 20.7rem;
      }
      .result-club {
        margin-top: 0.625rem;
      }
      .amount {
        font-size: 0.16rem;
      }
    }
  }
}
@media (max-width: 950px) {
  .result-main {
    gap: 0.25rem;
    .result-list {
      &.result-more-list {
        width: 31.3%;
        min-height: auto !important;
        .result-sub-list {
          padding: 0.5rem;
          zoom: 0.6;
        }
        .result-club {
          margin-top: 0.25rem;
        }
        .result-sell-get {
          font-size: 0.625rem;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .onlyTen {
    .result-list {
      &.result-more-list {
        width: 22.5%;
      }
    }
  }
  .result-footer-button {
    height: 1.5rem;
  }
  .result-footer {
    margin-top: 1.25rem;
    .public-dialog-button-p {
      font-size: 0.75rem;
    }
  }
  .result-total-other {
    font-size: 1rem;
    top: 0.1rem;
  }
  .public-dialog-icon {
    width: 1rem;
    height: 1rem;
  }
}
