.public-dialog {
  background-image: url("@/assets/img/public/popup_bg.png") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 100%;
  text-align: center;
  .el-dialog__body {
    padding: 30px;
  }
  &.el-dialog {
    background-color: #20222d;
    border-radius: 20px;
    color: #a9a4b4;
  }
  .public-dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .public-dialog-header-icon {
    background-color: #a9a4b4;
    border-radius: 50%;
    cursor: pointer;
  }
  .public-dialog-content {
    padding-bottom: 40px;
  }
  .public-dialog-title {
    font-size: 64px;
    color: #e4e7f5;
  }
  .public-dialog-illustrate {
    font-size: 18px;
  }
  .public-dialog-title-other {
    font-size: 46px;
    margin: 30px 0 10px;
  }
  .public-dialog-portrait {
    width: 100%;
    height: 118px;
  }
  .public-button {
    width: 100%;
    border-radius: 8px;
    color: #13151f;
    background-image: linear-gradient(to bottom, #e3a406, #fbd851);
    border: none;
    margin-top: 60px;
    height: 60px;
    font-size: 18px;
  }
  .public-dialog-text {
    font-size: 18px;
  }
  .public-dialog-special {
    color: #e4e7f5;
    margin: 0 5px;
  }
  .public-dialog-lists {
    display: flex;
    flex-wrap: wrap;
  }
  .public-dialog-list {
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc((100% - 40px) / 5);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    &:nth-child(5n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .public-dialog-list-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 30px;
  }
  .public-dialog-list-result {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #13151f;
    border-radius: 0 0 8px 8px;
    font-size: 20px;
  }
  .sold {
    background-color: rgba(12, 187, 62, 0.9);
  }
  .refund {
    background-color: rgba(250, 213, 77, 0.9);
  }
  .public-dialog-total {
    text-align: left;
  }
  .public-dialog-total-title {
    display: inline-block;
    font-size: 18px;
    height: 36px;
  }
  .public-dialog-total-number {
    font-size: 30px;
    color: #11cde9;
    font-weight: 700;
    margin-left: 10px;
  }
  .cancel-button {
    border: solid 1px rgba(228, 231, 245, 0.15);
    background-color: #292c36;
    color: #e4e7f5;
    background-image: none;
  }
  .el-input--large {
    height: 70px;
  }
}
