.public-dialog {
  background-image: url("@/assets/img/public/popup_bg.png") !important;
  background-color: #20222d;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position-y: bottom !important;
  text-align: center;

  .el-dialog__body {
    padding: 1.875rem;
  }

  .el-dialog__header {
    padding: 0 !important;
    margin: 0 auto !important;
  }

  &.el-dialog {
    background-color: #20222d;
    border-radius: 1.25rem;
    color: #a9a4b4;
  }

  .close_btn {
    position: absolute;
    top: 1.6875rem;
    right: 1.875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #2d313f;
    background-color: #2a2d36;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.25rem;
    color: #a9a4b4;
  }

  .public-dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  // .public-dialog-content {
  //   padding: 1.875rem 0 0;
  // }

  .public-dialog-title {
    font-family: BlenderPro;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: white;
  }

  .public-form {
    .el-form-item {
      margin-bottom: 2.25rem;
    }

    .el-form-item__label {
      font-size: 1rem;
      line-height: 1.6;
      text-align: left;
      color: white;
      margin-bottom: 0.75rem !important;
    }

    .el-form-item__error {
      font-size: 1rem;
      line-height: 1.6;
      text-align: left;
      color: #df4328;
    }
  }

  .public-input {
    width: 100% !important;

    .el-input__wrapper {
      height: 4.375rem;
      box-sizing: border-box;
      border: solid 1px #363945;
      background-color: #13151f;
      border-radius: 0.5rem;
      padding-left: 1.25rem;
      box-shadow: none;
      outline: none;

      .el-input__inner {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.6;
        text-align: left;
        color: white;
      }
    }

    .el-input__suffix-inner {
      .el-icon {
        font-size: 1rem;
      }

      .el-button {
        width: 6.25rem;
        height: 3rem;
        border-radius: 0.5rem;
        font-size: 1.25rem;
      }
    }
  }

  .public-dialog-illustrate {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
    color: #a9a4b4;
  }

  .public-dialog-title-other {
    font-family: BlenderPro;
    font-size: 2.875rem;
    margin-bottom: 1rem;
    color: #a9a4b4;
  }

  .public-dialog-portrait {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .public-button {
    width: 100%;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, #e3a406, #fbd851);
    border: none;
    height: 3.75rem;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #13151f !important;

    &.disabled {
      background-image: none;
      background-color: #a9a4b4;
      cursor: not-allowed;
    }
  }

  .public-dialog-text {
    font-size: 1.125rem;
    color: #a9a4b4;
  }

  .public-dialog-special {
    color: #e4e7f5;
    margin: 0 5px;
  }

  .public-dialog-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 0.62rem;
  }

  .public-dialog-lists-all {
    margin-bottom: 3.75rem;
  }

  .public-dialog-list {
    width: 7.375rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;

    &:nth-child(5n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .portrait-img {
    width: 7.375rem;
    height: 7.375rem;
  }

  .public-dialog-list-text {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 1.875rem;
  }

  .public-dialog-list-result {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.875rem;
    line-height: 1.875rem;
    color: #13151f;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.25rem;
  }

  .sold {
    background-color: rgba(12, 187, 62, 0.9);
  }

  .refund {
    background-color: rgba(250, 213, 77, 0.9);
  }
  .waiting {
    background-color: rgba(234, 122, 103, 0.9);
  }

  .public-dialog-total {
    text-align: left;
    margin-bottom: 3.75rem;
  }

  .public-dialog-total-title {
    display: inline-block;
    font-size: 1.125rem;
  }

  .public-dialog-total-number {
    font-size: 1.875rem;
    color: #11cde9;
    font-weight: 700;
    margin-left: 0.625rem;
  }

  .public-dialog-pointer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
  }

  .public-dialog-pointer-icon {
    width: 1.875rem;
    height: 1.875rem;
  }

  .public-dialog-pointer-number {
    color: #e4e7f5;
    font-size: 1.5rem;
    margin-left: 0.625rem;
  }

  .public-dialog-price-box {
    display: flex;
    align-items: center;
    font-family: BlenderPro;
    color: #fff;
    font-size: 2rem;
    margin-left: 0.625rem;

    img {
      width: 1.875rem;
      height: 1.875rem;
      margin-right: 0.625rem;
    }
  }

  .cancel-button {
    border: solid 1px rgba(228, 231, 245, 0.15) !important;
    background-color: #292c36 !important;
    color: white !important;
    background-image: none;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
  }

  .public-button + .public-button {
    margin-left: 1.25rem;
  }

  .public-continue {
    color: #a9a4b4 !important;
    font-size: 1.125rem;
    border: solid 1px rgba(228, 231, 245, 0.15) !important;
    background-color: #292c36 !important;
    background-image: none !important;
    margin-top: 0.625rem;
    margin-left: 0 !important;
  }

  .public-default {
    color: #a9a4b4 !important;
    font-size: 1.125rem;
    border: solid 1px rgba(228, 231, 245, 0.15) !important;
    background-color: #292c36 !important;
    background-image: none !important;
    margin-bottom: 0.625rem;
    margin-left: 0 !important;
  }

  .tips_btn {
    color: #fad54d;
    font-size: 1rem;
    cursor: pointer;
  }

  &.mystery-dialog {
    .el-dialog__body {
      padding-top: 0;
      padding: 0 1.875rem 3.75rem;
    }

    .el-dialog__header {
      height: 3.75rem;
    }
  }
}

@media (max-width: 950px) {
  &.dialog_box {
    width: 94% !important;
  }

  .public-dialog {
    &.result-loading-dialog {
      width: 20.4375rem;

      .public-dialog-content {
        padding: 1.875rem 0;
      }

      .el-dialog__header {
        height: 0;
      }

      .el-dialog__body {
        padding: 0 1rem;
      }

      .public-dialog-loading {
        img {
          width: 3rem;
          height: 3rem;
          margin-top: 0;
        }
      }

      .public-dialog-loading-text {
        margin-top: 1.25rem;
        font-size: 0.875rem;
      }

      .public-dialog-illustrate {
        font-size: 0.75rem;
        margin-bottom: 0;
      }
    }
    &.mystery-dialog {
      width: 20.4375rem;

      .public-dialog-content {
        padding: 1.875rem 0;
      }

      .public-dialog-header-icon {
        width: 1.5rem;
        margin-top: 1rem;
        margin-right: 1rem;
      }

      .public-dialog-title {
        font-size: 1.5rem;
      }

      .el-dialog__header {
        height: 0;
      }

      .el-dialog__body {
        padding: 0 0.6875rem;
      }

      .public-dialog-text {
        font-size: 0.75rem;
      }

      .public-dialog-icon {
        width: 1.25rem;
      }

      .public-dialog-total-number {
        font-size: 1.25rem;
      }

      .public-dialog-total {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      .public-button {
        height: 1.5rem;
        font-size: 0.75rem;
        border-radius: 0.25rem;

        .public-dialog-icon {
          width: 1.125rem;
        }

        .public-dialog-price-box {
          font-size: 1.25rem;
        }
      }
      .public-dialog-list-result {
        height: 0.875rem;
        line-height: 0.875rem;
        font-size: 0.75rem;
      }
    }

    .el-dialog__body {
      padding: 1.5rem;
    }

    &.el-dialog {
      width: 94%;
      border-radius: 0px;
    }

    .close_btn {
      top: 1.5rem;
      right: 1.5rem;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      box-sizing: border-box;
    }

    .public-dialog-content {
      padding: 1rem 0;
    }

    .public-dialog-title {
      font-size: 2rem;
    }

    .public-form {
      .el-form-item {
        margin-bottom: 1.25rem;
      }

      .el-form-item__label {
        font-size: 0.75rem;
        line-height: 1.2;
        margin-bottom: 0.5rem !important;
      }

      .el-form-item__error {
        font-size: 0.75rem;
        line-height: 1.2;
        text-align: left;
        color: #df4328;
      }
    }

    .public-input {
      .el-input__wrapper {
        height: 3rem;
        padding: 0 0.5rem;

        .el-input__inner {
          font-size: 0.75rem;
          line-height: 1;
        }
      }

      .el-input__suffix-inner {
        display: flex;

        .el-icon {
          font-size: 1rem;
        }

        .el-button {
          width: 4rem;
          height: 2rem;
          border-radius: 0.5rem;
          font-size: 0.75rem;
        }
      }
    }

    .public-button {
      height: 2.5rem;
      font-size: 0.75rem;
    }

    .tips_btn {
      font-size: 0.75rem;
    }
    .public-dialog-portrait {
      border-radius: 0.25rem;
    }
  }
}

@media (max-width: 340px) {
  .el-dialog.is-align-center {
    margin: auto 0.625rem !important;
  }
}

.menu_drawer {
  width: auto !important;

  .el-drawer__body {
    background-color: #13151f !important;
    padding: 0 !important;
  }
}
