:root {
  --el-overlay-color-lighter: rgba(19, 7, 27, 0.8);
  --el-bg-color: #151722;
}

.el-overlay {
  // backdrop-filter: blur(5px);
}

.el-input__wrapper {
  background: none;
}

.public-login {
  margin-top: 30px;

  .el-input__wrapper {
    background-color: #13151f;
    border: solid 1px #363945;
    box-shadow: none;
  }

  .el-input__inner {
    color: #fff;
    font-size: 18px;
  }
}

.roll-message {
  z-index: 10000 !important;
}

.custom-notify {
  width: 26rem;
  background-color: #2b2451;
  border: solid 1px rgba(169, 164, 180, 0.3);
  padding: 0.625rem;
  padding-right: 2.5rem;
  z-index: 4000 !important;
  .el-notification__content {
    text-align: inherit;
  }
  &.lottery-warning-notify {
    width: 32rem;
  }
  &.right {
    right: 2.1875rem;
  }
  .el-notification__group {
    margin-left: 0;
  }
  .el-notification--warning {
    color: #df4328;
  }
}

@media screen and (max-width: 950px) {
  .custom-notify {
    width: 20rem;
    &.lottery-warning-notify {
      width: 20rem;
    }
  }
}
