ul,
ol,
li {
  list-style: none;
}

.public-width {
  width: 1170px;
  margin: 0 auto;
}

.font-family {
  font-family: Medium, Regular;
}

.publick-scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 5px;
}

.publick-scrollbar::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

.publick-scrollbar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}

.text-ellipsis {
  overflow: hidden;
  /*文本不会换行*/
  white-space: nowrap;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
}

.public-color-one {
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(to bottom, #dd82af 20%, #dd81af 20%, #d12398 50%, #fab597 69%);
  font-size: 32px;
  font-weight: bold;
}

.public-color-two {
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(to bottom, #c7c3cc 3%, #e2e3cf 24%, #d94ba5 78%);
  font-size: 24px;
  font-weight: bold;
}

.public-color-three {
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: linear-gradient(to bottom, #768098, #eceacf 61%, #edbed2);
  font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.pointer {
  cursor: pointer;
}

/*<950px的设备*/
@media screen and (max-width: 950px) {
  html {
    font-size: 16px;
  }

  #app {
    min-width: auto;
  }

  .el-message {
    width: 90% !important;
    top: auto !important;
    bottom: 30% !important;
    transform: rotate(0, -30%) !important;
  }
}

/*>=951的设备*/
@media screen and (min-width: 951px) {
  html {
    font-size: 10px;
  }

  #app {
    min-width: 1000px;
  }
}

/*>=1366的设备*/
@media screen and (min-width: 1366px) {
  html {
    font-size: 12px;
  }
}

/*>=1440的设备*/
@media screen and (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}

/*>=1680的设备*/
@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
