.details_wrapper {
  margin: 0 auto;
  max-width: 120rem;
  background-image: url("@/assets/img/box/lottery_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 10.625rem;
}

.home-public-title {
  margin: 5rem 0 3.75rem 0;

  .title_text {
    background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
    font-family: Tomorrow;
    font-size: 3.5rem;
    line-height: 1.3;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title_box {
    position: relative;
  }

  .title_btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -12.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.4375rem;
    height: 2.625rem;
    border-radius: 2.0625rem;
    padding: 1px;
    border-image-source: linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #1b082b, #1b082b), linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .title_btn_text {
    background-image: linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
    font-size: 0.875rem;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .title_description {
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: center;
    color: #a9a4b4;
  }
}

.lottery_panel {
  margin: 0 auto;
  width: 95rem;

  .home-public-title {
    margin: 5rem 0 3.75rem 0;
    display: flex;
    justify-content: center;
  }
}

.lottery_boxs {
  margin: 0 auto;
  width: 95rem;
  height: 55.625rem;

  display: flex;
  justify-content: space-between;
}

.lottery_boxs_l {
  width: 36.375rem;
  background: url("@/assets/img/unBoxDateail/aside.webp") no-repeat center;
  background-size: 100% 100%;

  .img_box {
    position: relative;
    width: 100%;
    height: 30rem;
    padding: 3.75rem;
    box-sizing: border-box;

    .nft_img {
      width: 100%;
      height: 100%;
    }
  }

  .description_box {
    padding: 3.75rem 1.875rem 0;
    text-align: left;

    &.description-loaing {
      opacity: 0;
    }

    & > .title {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5;
      color: white;
    }

    & > .text {
      width: 100%;
      height: 9rem;
      white-space: pre-wrap;
      display: inline-block;
      padding-top: 2.5rem;
      font-size: 1.125rem;
      line-height: 1.6;
      color: #a9a4b4;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      &.all-text {
        overflow-y: auto;
        height: 15.3rem;
      }
    }

    & > .see-more {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      color: #fff;
      cursor: pointer;
      margin-top: 1.875rem;

      img {
        width: 1.5rem;
        margin-left: 0.625rem;
        transform: rotate(180deg);
      }
    }
  }
}

.lottery_boxs_r {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.875rem;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.lottery_type {
  width: 27.4375rem;
  height: 26.875rem;
  padding: 1.875rem 1.75rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: url("@/assets/img/unBoxDateail/one.webp") no-repeat center;
  background-size: 100% 100%;

  &.five {
    background: url("@/assets/img/unBoxDateail/five.webp") no-repeat center;
    background-size: 100% 100%;
  }

  &.ten {
    background: url("@/assets/img/unBoxDateail/ten.webp") no-repeat center;
    background-size: 100% 100%;
  }

  .discount {
    top: 0;
    left: 0;
    position: absolute;
    width: 9.5625rem;
    height: 9.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .val {
      padding-bottom: 2.401875rem;
      display: inline-block;
      transform: rotate(-45deg);
      text-align: center;
      font-family: LeagueSpartan;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1;
    }
  }

  .lottery_info {
    .open_text,
    .box_text {
      font-family: BlenderPro;
      font-size: 2.25rem;
      font-weight: bold;
      line-height: 1;
      color: white;
    }

    .num_text {
      background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
      font-family: Tomorrow;
      font-size: 9.375rem;
      font-weight: bold;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 1.25rem 0;
    }
  }

  .lottery_btn {
    width: 23.75rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125rem;
    background-image: linear-gradient(to bottom, #1e90f9, #e022e3);

    font-family: LeagueSpartan;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;

    span {
      padding-top: 0.25rem;
    }

    img {
      width: 1.5rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }
}

.five .discount {
  background-image: url("@/assets/img/box/five_bg.png");
  background-repeat: no-repeat;
  background-size: contain;

  .val {
    color: #13151f;
  }
}

.ten {
  width: auto;

  .discount {
    background-image: url("@/assets/img/box/ten_bg.png");
    background-repeat: no-repeat;
    background-size: contain;

    .val {
      color: white;
    }
  }
}

.nft_series {
  margin: 0 auto;
  width: 95rem;
  padding-top: 10.625rem;

  .home-public-title {
    .title_text {
      margin: 0 auto;
    }
  }

  .nft_series_list {
    display: flex;
    flex-wrap: wrap;

    & > div {
      margin-bottom: 1.875rem;
    }

    & > div + div {
      margin-left: 1.875rem;
    }

    & > div:nth-child(4n + 1) {
      margin-left: 0;
    }
  }

  .nft_series_item {
    width: 22.3125rem;
    height: 28.625rem;
    position: relative;
    border-radius: 0.5rem;

    .item_bg {
      height: 100%;
      padding: 0.25rem;
      box-sizing: border-box;
    }

    &.series_level_bg_1 {
      background: url("@/assets/img/box/series_level_bg_1.webp") no-repeat;
      background-size: 100% 100%;
    }

    &.series_level_bg_2 {
      background: url("@/assets/img/box/series_level_bg_2.webp") no-repeat;
      background-size: 100% 100%;
    }

    &.series_level_bg_3 {
      background: url("@/assets/img/box/series_level_bg_3.webp") no-repeat;
      background-size: 100% 100%;
    }

    &.series_level_bg_4 {
      background: url("@/assets/img/box/series_level_bg_4.webp") no-repeat;
      background-size: 100% 100%;
    }

    .series_level_1 {
      background: url("@/assets/img/box/series_level_1.webp") no-repeat;
      background-size: 100% 100%;
    }

    .series_level_2 {
      background: url("@/assets/img/box/series_level_2.webp") no-repeat;
      background-size: 100% 100%;
    }

    .series_level_3 {
      background: url("@/assets/img/box/series_level_3.webp") no-repeat;
      background-size: 100% 100%;
    }

    .series_level_4 {
      background: url("@/assets/img/box/series_level_4.webp") no-repeat;
      background-size: 100% 100%;
    }

    .img_box {
      width: 100%;
      height: 20.3125rem;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 0.25rem 0.25rem 0 0;

      .nft_img {
        width: 100%;
        height: 100%;
      }
    }

    .series_info {
      padding: 1.25rem;
    }

    .series_name {
      display: flex;
      align-items: center;
      font-family: BlenderPro;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.5;
      color: white;

      img {
        width: 1.1875rem;
        margin-left: 0.625rem;
      }
    }

    .series_probability {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.875rem;
      line-height: 1.6;
      color: #0cbb3e;
    }

    .series_price {
      margin-top: 0.625rem;
      font-family: Tomorrow;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.4;
      text-align: left;
      color: #11cde9;
      display: flex;
      align-items: center;

      span + img {
        margin-left: 0.25rem;
      }

      p {
        display: flex;
        align-items: center;
        
      }

      img {
        width: 1.25rem;
        height: auto;
        margin-right: 0.25rem;
      }
    }

    .mask_box {
      display: none;
      width: 22.3125rem;
      height: 28.625rem;
      background-color: rgba(0, 0, 0, 0.2);
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      border-radius: 0.5rem;

      .show_series_btn {
        margin-top: 12.375rem;
        width: 19.8125rem;
        height: 3.8125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-image: linear-gradient(to top, #e3a406, #fbd851);

        .show_series_btn {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.6;
          color: #13151f;
        }
      }
    }

    &:hover {
      & > .mask_box {
        display: flex;
      }
    }
  }
}

.contents-info {
  box-sizing: border-box;
  width: 95rem;
  margin: 0 auto;
  margin-top: 10.625rem;
}

.snapshot_box {
  width: 100%;
  height: 29.625rem;
  background-image: url("@/assets/img/box/snapshot_bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.snapshot_panel {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;

  & > div + div {
    margin-left: 0.625rem;
  }

  & > div:nth-child(n + 13) {
    margin-top: 0.625rem;
  }

  & > div:nth-child(12n + 1) {
    margin-left: 0;
  }

  .snapshot_item {
    width: 7.125rem;
    height: 7.1875rem;
    background-image: url("@/assets/img/box/snapshot_item.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .snapshot_num {
      padding-top: 0.25rem;
      font-family: Inter;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.6;
      text-align: center;
      color: #a9a4b4;
      transition: all 0.3s;
    }

    .snapshot_date {
      padding-top: 0.625rem;
      font-family: Inter;
      font-size: 0.5rem;
      text-align: center;
      color: #a9a4b4;
    }

    .active_btn {
      width: 1.5rem;
      height: 1.5rem;
      position: relative;

      img {
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      & > .nft_info {
        display: inline-block;
        transition: all 0.3s;
      }

      & > .nft_info_active {
        // display: none;
        transform: scale(0);
        transition: all 0.3s;
      }
    }

    &:hover {
      background-image: url("@/assets/img/box/snapshot_item_active.webp");

      .snapshot_num {
        padding-top: 0.625rem;
        transform: scale(1.2);
      }

      .active_btn {
        & > .nft_info {
          // display: none;
          transform: scale(0);
        }

        & > .nft_info_active {
          display: inline-block;
          transform: scale(1.5);
        }
      }
    }
  }
}

.home-public-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}

.title-box-l {
  .title_text {
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
    font-family: Tomorrow;
    font-size: 3.5rem;
    line-height: 1.3;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title_description {
    padding-top: 1rem;
    width: 39.6875rem;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
  }
}

.title-box-r {
  display: flex;
  align-items: center;

  .title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    color: white;
    padding-right: 1.25rem;
  }

  .snapshot_input {
    margin-right: 1.25rem;
  }

  .search_btn {
    cursor: pointer;
  }

  :deep(.el-input) {
    width: 18.5rem;
    height: 3.3125rem;

    &.is-focus {
      .el-input__wrapper {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
      }
    }

    .el-select__caret {
      font-size: 1.5rem;
    }
  }

  :deep(.el-input__wrapper) {
    width: 18.5rem;
    height: 3.3125rem;
    border-radius: 1.875rem;
    background-color: #1d0f36;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 1.25rem;

    .el-input__inner {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      text-align: left;
      color: white;
    }

    .el-input__prefix {
      display: none;
    }

    .el-input__suffix {
      .el-icon {
        width: 1.125rem;
        height: 1.125rem;

        svg {
          width: 1.125rem;
          height: 1.125rem;
        }
      }
    }
  }
}

.pagination-box {
  display: flex;
  justify-content: center;
  padding-top: 0.625rem;

  :deep(.el-pagination) {
    button {
      background: transparent;
      color: white;
      font-family: Tomorrow;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5;

      &:disabled {
        opacity: 0.8;
      }

      &.btn-prev {
        margin-right: 1.25rem;
      }

      &.btn-next {
        margin-left: 1.25rem;
      }
    }
  }

  :deep(.el-pager) {
    & > li + li {
      margin-left: 0.75rem;
    }

    li {
      width: 3.25rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2.5rem;
      background-color: transparent;
      border: solid 1px rgba(146, 148, 156, 0.3);

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      color: #a9a4b4;

      &.is-active,
      &:hover {
        background-image: linear-gradient(to top, #e3a406, #fbd851);
        border-color: transparent;
        color: #13151f;
      }
    }
  }
}

.close_btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.btns_box {
  width: 100%;
  position: absolute;
  bottom: 1.25rem;
}

.close_dialog_btn {
  margin: 0 auto;
  width: 19.875rem;
  height: 2.875rem;
  border-radius: 3.75rem;
  background-image: linear-gradient(to top, #e3a406, #fbd851);

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.875rem;
  text-align: center;
  color: #13151f;
}

@media (max-width: 950px) {
  .details_wrapper {
    padding: 0 1rem;
    background-image: none;

    .lottery_panel {
      width: 100%;
    }

    .title_text {
      font-size: 1.125rem;
    }

    .home-public-title {
      margin-top: 0.75rem;
      margin-bottom: 1.25rem;
    }

    .title_description {
      font-size: 0.75rem;
      padding-top: 0.25rem;
    }

    .lottery_boxs {
      width: 100%;
      height: auto;
      flex-wrap: wrap;

      .lottery_boxs_l {
        width: 100%;
        margin-bottom: 1.5rem;

        .img_box {
          height: auto;
          padding: 0rem;
          .nft-token {
            position: absolute;
            color: #0cbb3e;
            left: 0.25rem;
            bottom: 0.25rem;
            padding: 0 0.25rem;
            height: 1.25rem;
            line-height: 1.25rem;
            font-size: 0.75rem;
            background-color: rgba(6, 91, 30, 0.8);
            border-radius: 0.25rem;
          }
        }

        .description_box {
          padding: 0 0.625rem;

          .title {
            font-size: 0.875rem;
            display: flex;
            align-items: center;

            img {
              width: 1rem;
              height: 1rem;
              margin-right: 0.5rem;
            }
          }

          .text {
            font-size: 0.75rem;
            padding: 1rem 0;

            &.all-text {
              height: auto;
            }
          }
        }
      }

      .lottery_boxs_r {
        display: none;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 0;

        .lottery_type {
          width: auto;
          height: auto;
          flex: 1;
          margin-bottom: 0.5rem;
          padding: 0.625rem;

          .open_text {
            font-size: 1rem;
          }

          .num_text {
            font-size: 4.5rem;
          }

          .box_text {
            font-size: 1rem;
            margin-bottom: 1rem;
          }

          .lottery_btn {
            width: 100%;
            height: 1.5rem;
            margin: 0 0.5rem;
            font-size: 1rem;

            img {
              width: 1rem;
            }
          }

          &.five {
            margin-left: 0.5rem;
          }

          &.ten {
            flex: 2;
          }
        }
      }
      .h5_lottery_boxs_r {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4.5rem;
        padding: 0.875rem 1rem;
        border-top: solid 0.0315rem #2c3e5d;
        background-color: #13151f;
        z-index: 10;
        box-sizing: border-box;
        .lottery_calculate_box {
          flex: 1;
          display: flex;
          height: 2.75rem;
          background: #1d2031;
          font-size: 0.875rem;
          color: #fff;
          font-weight: bold;
          margin-right: 0.75rem;
          .calculate_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
            width: 2.75rem;
            height: 2.75rem;
            background-image: linear-gradient(to bottom, #1e90f9, #e022e3);
            .calculate_icon {
              width: 0.8em;
              height: 0.8em;
              color: #fff;
            }
          }
          .calculate_txt {
            flex: 1;
            line-height: 2.75rem;
          }
        }
        .lottery_open_btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          background: #fad54d;
          height: 2.75rem;
          border-radius: 0.125rem;
          overflow: hidden;
          .discount_h5 {
            position: absolute;
            left: -0.25rem;
            top: -0.25rem;
            width: 3.125rem;
            height: 3.125rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.five {
              background-image: url("@/assets/img/box/five_bg.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
            &.ten {
              background-image: url("@/assets/img/box/ten_bg.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
            .val {
              display: inline-block;
              transform: rotate(-45deg);
              text-align: center;
              font-family: LeagueSpartan;
              font-weight: bold;
              zoom: 0.5;
              padding-bottom: 1.45rem;
            }
          }

          .lottery_box_title {
            height: 1rem;
            line-height: 1.33;
            font-family: BlenderPro;
            font-size: 0.75rem;
            color: #13151f;
            font-weight: bold;
          }
          .lottery_price_box {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Inter;
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1.43;
            color: #13151f;
            img {
              width: 1rem;
              height: 1rem;
              margin-right: 0.25rem;
            }
          }
        }
      }
    }

    .jackpot-box {
      padding: 0.625rem;
      box-sizing: border-box;
      .home-public-title {
        margin-bottom: 0.5rem;
      }
      .series_price {
        font-size: 1rem !important;
        justify-content: center;
      }
      .series_name{
        justify-content: center;
      }
    }

    .nft_series {
      width: 100%;
      padding-top: 1.5rem;

      .home-public-title {
        margin-bottom: 1.25rem;
      }

      .nft_series_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.625rem;

        & > div {
          margin-bottom: 0.5rem;
        }

        .nft_series_item {
          width: auto;
          height: auto;
          box-sizing: border-box;
          margin-left: 0 !important;
          margin-bottom: 0 !important;

          .series_probability {
            flex-wrap: wrap;
          }

          .item_bg {
          }

          .img_box {
            height: auto;
            aspect-ratio: 1/1;
          }

          .mask_box {
            width: 100%;
            height: 100%;

            &:hover {
              width: 100%;
              height: 100%;
            }

            .show_series_btn {
              width: 80%;
              height: 1.5rem;
              font-size: 0.75rem;
              border-radius: 0.25rem;
              margin-top: 70%;
            }
          }

          .series_info {
            padding: 0.375rem;

            .series_name {
              font-size: 0.75rem;
              display: flex;
              align-items: center;
              width:100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;

              img {
                width: 0.875rem;
                margin-left: 0.25rem;
              }
            }

            .series_probability {
              font-size: 0.5rem;
            }

            .series_price {
              font-size: 0.75rem;
              margin-top: 0;
              width:100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              p{
                zoom: 0.8;
              }

              img {
                width: 0.75rem;
                height: auto;
                margin-right: 0.25rem;
              }
            }
          }
        }

        & > div + div {
          margin-left: 0.5rem;
        }
      }
    }

    .contents-info {
      width: 100%;
      margin-top: 1.5rem;

      .home-public-title {
        flex-wrap: wrap;
        margin-bottom: 1.5rem;

        .title-box-l {
          width: 100%;
          margin-bottom: 0.5rem;

          .title_text {
            text-align: center;
          }
        }

        .title-box-r {
          width: 100%;

          .title {
            width: 4.4375rem;
            font-size: 0.75rem;
            padding-right: 0.25rem;
          }

          .el-input {
            flex: 1;
            width: auto;
            height: 1.5rem;
            margin-right: 0;
          }

          :deep(.el-input__wrapper) {
            width: 100%;
            height: 1.5rem;

            .el-input__inner {
              font-size: 0.75rem;
            }

            .el-icon svg {
              width: 0.75rem;
              height: 0.75rem;
            }
          }
        }
      }
    }

    .snapshot_box {
      height: auto;

      .snapshot_panel {
        justify-content: center;
        padding: 0.5rem;

        .snapshot_item {
          width: 4rem;
          height: auto;
          padding: 0.625rem 0;
          margin-top: 0.25rem;
          margin-left: 0.25rem;

          .snapshot_num {
            font-size: 0.75rem;
          }

          .snapshot_date {
            transform: scale(0.8);
            transform-origin: center;
            padding-top: 0;
          }

          &:hover {
            .snapshot_num {
              transform: scale(1);
            }

            .snapshot_date {
              margin-top: 0;
            }

            .active_btn {
              & > .nft_info {
                transform: scale(1);
              }

              & > .nft_info_active {
                transform: scale(1);
              }
            }
          }
        }
      }

      .nft_info_active {
      }

      .pagination-box {
        padding-bottom: 0.625rem;
      }
    }

    :deep(.el-pagination) {
      button {
        font-size: 0.75rem;

        &:disabled {
          opacity: 0.8;
        }

        &.btn-prev {
          margin-right: 0.75rem;
        }

        &.btn-next {
          margin-left: 0.75rem;
        }
      }

      .el-pager li {
        width: 2rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.75rem;
      }
    }

    .discount {
      width: 5rem;
      height: 5rem;

      .val {
        font-size: 0.75rem;
        padding-bottom: 1.3rem;
      }
    }
  }
}

@media (max-width: 540px) {
  .nft_series_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
