.wrapper_bg {
  background-image: url("@/assets/img/box/lottery_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index_wrapper {
  margin: 0 auto;
  width: 95rem;
  padding: 5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .nav_box {
    width: 10.25rem;

    &>div+div {
      margin-top: 0.625rem;
    }
  }

  .page_box {
    width: 82.8125rem;
  }
}


.nav_item {
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #13151f;
  padding-left: 1.25rem;
  box-sizing: border-box;

  font-size: 0.75rem;
  line-height: 1.4;
  text-align: left;
  color: #a9a4b4;
  cursor: pointer;
  position: relative;

  .new_dot {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0.25rem 0 #df4328;
    background-color: #df4328;
    z-index: 3;
  }

  img {
    width: 1.25rem;
    height: auto;
    margin-right: 0.5rem;

    &.default {
      display: block;
    }

    &.active {
      display: none;
    }
  }

  &.active,
  &:hover {
    background-image: linear-gradient(to top, #e3a406, #fbd851);
    color: #13151f;

    img {
      &.default {
        display: none;
      }

      &.active {
        display: block;
      }
    }
  }
}