.my_setting_wrapper {
  margin: 0 auto;
  width: auto;
  background-image: url("@/assets/svg/user/mask_small.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 44.3125rem;
}

.user_panel {
  margin: 0 auto;
  min-width: 25rem;
  box-sizing: border-box;
  padding: 1.875rem 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar_box {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar_img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.username_box {
  margin: 1.875rem 0 1.25rem;

  .name_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    color: white;

    .edit {
      width: 1rem;
      height: 1rem;
      margin-left: 0.625rem;
      cursor: pointer;
    }
  }

  .wallet_text {
    font-size: 0.875rem;
    line-height: 1.43;
    text-align: center;
    color: #a9a4b4;
  }
}

.username_modify {
  margin: 0 auto;
  width: 25rem;
  margin-bottom: 1.25rem;

  .modify_btn {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-image: linear-gradient(to top, #e3a406 -1%, #fbd851 99%);
    cursor: pointer;
  }
}

.communication_setting {
  margin: 0 auto;
  width: 43.75rem;

  .setting_text {
    font-family: Tomorrow;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.3;
    color: white;
  }

  .email_setting {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.625rem;

    font-size: 0.875rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;

    &>span {
      padding-left: 1.25rem;
      white-space: nowrap;
    }

    :deep(.el-switch) {

      .el-switch__core {
        width: 2.25rem;
        min-width: 2.25rem;
        height: 0.875rem;
      }

      .el-switch__action {
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid white;
      }

      &.is-checked {
        .el-switch__action {
          background-color: #fad54d;
          border: 1px solid #fad54d;
        }
      }
    }
  }

  :deep(.el-switch__action) {
    left: 1px;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.safety_verification {
  padding: 1.25rem 0 0;
}

.title_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.625rem;

  .title_text {
    font-family: Tomorrow;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .switch_btn {
    padding-left: 0.625rem;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    color: #a9a4b4;

    &.turn_on {
      color: #0cbb3e;
    }

    img {
      width: 1rem;
      height: 1rem;
      margin-left: 0.25rem;
    }
  }
}

.recommended_info {
  margin: 0 auto;
  width: 28rem;
  font-family: Inter;
  font-size: 0.875rem;
  text-align: center;
  color: #a9a4b4;
}

.verification_operating {
  margin: 0 auto;
  width: 25rem;
  padding-top: 1.25rem;

  &.close {
    width: 30.625rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.625rem;
    border-radius: 0.5rem;
    background-color: #1d0f36;
  }
}

.verification_close {
  width: 100%;

  .close_title {
    opacity: 0.9;
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    padding-bottom: 0.75rem;
  }

  :deep(.verification_input) {
    margin-bottom: 0.75rem;

    .el-input__wrapper {
      width: 100%;
      height: 3rem;
      border-radius: 0.5rem;
      border: solid 1px #363945;
      background-color: #13151f;
      box-shadow: none !important;
      outline: none !important;

      &>input {
        color: white;
        font-size: 1.25rem;
      }
    }
  }

  .error_box {
    padding-bottom: 1.25rem;
    opacity: 0.9;
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
    color: #df4328;
  }
}

.create_verification_btn {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top, #e3a406, #fbd851);

  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  color: #13151f;
  cursor: pointer;
}

.other_box {
  width: 22rem;
  padding-top: 3.125rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.close {
    padding-top: 1.25rem;
  }

  .exit_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .exit_text {
      background-image: linear-gradient(to top, #e3a406, #fbd851);
      font-size: 1.5rem;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-right: 0.625rem;
    }
  }
}

@media screen and (max-width: 950px) {
  .my_setting_wrapper {
    width: 100%;
    background-image: none;
    min-height: auto;
  }

  .user_panel {
    min-width: auto;
    padding: 0.5rem 0;
  }

  .avatar_box {

    .avatar_img {
      width: 3rem;
      height: 3rem;
    }
  }

  .username_box {
    margin: 0.5rem 0 0.5rem;

    .name_text {
      font-size: 0.875rem;

      .edit {
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.25rem;
      }
    }

    .wallet_text {
      font-size: 0.75rem;
    }
  }

  .username_modify {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 0.75rem;

    .modify_btn {
      height: 2rem;
      border-radius: 0.25rem;
      font-size: 0.75rem;
    }
  }

  .communication_setting {
    margin: 0 auto;
    width: 100%;

    .setting_text {
      font-size: 0.875rem;
      text-align: left;
    }

    .email_setting {
      justify-content: flex-start;
      padding-top: 0.5rem;

      font-size: 0.75rem;

      &>span {
        padding-left: 1rem;
        white-space: pre-wrap;
      }
    }
  }

  .safety_verification {
    padding: 1.25rem 0 0;
  }

  .title_box {
    justify-content: flex-start;
    padding-bottom: 0.5rem;

    .title_text {
      font-size: 0.875rem;
    }

    .switch_btn {
      padding-left: 0.5rem;
      font-size: 0.75rem;

      &.turn_on {
        color: #0cbb3e;
      }

      img {
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.25rem;
      }
    }
  }

  .recommended_info {
    width: 100%;
    font-size: 0.625rem;
    text-align: left;
  }

  .verification_operating {
    width: 100%;
    padding-top: 1.25rem;
    box-sizing: border-box;

    &.close {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      box-sizing: border-box;
    }
  }

  .verification_close {
    width: 100%;

    .close_title {
      font-size: 0.75rem;
      padding-bottom: 0.5rem;
    }

    :deep(.verification_input) {
      margin-bottom: 0.75rem;

      .el-input__wrapper {
        height: 1.5rem;
        border-radius: 0.25rem;

        &>input {
          font-size: 0.75rem;
          height: 1.5rem;
        }
      }
    }

    .error_box {
      padding-bottom: 1.25rem;
      font-size: 0.75rem;
    }
  }

  .create_verification_btn {
    height: 2rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }

  .other_box {
    width: 100%;
    padding-top: 1.25rem;

    &.close {
      padding-top: 1.25rem;
    }

    .exit_btn {
      .exit_text {
        font-size: 1rem;
        padding-right: 0.5rem;
      }

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}