.my_wallet_wrapper {
  margin: 0 auto;
  width: auto;
  background-image: url("@/assets/svg/user/mask_small1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 46.625rem;
}

.wallet_panel {
  box-sizing: border-box;
  padding: 1.875rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.balance_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_text {
  background-image: linear-gradient(
    to bottom,
    rgba(234, 32, 141, 0.9) 15%,
    #e63a97 39%,
    #f1f1cb 70%
  );
  font-family: Tomorrow;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.balance_l {
  display: flex;
  align-items: center;

  img {
    width: 1.5rem;
    height: auto;
    margin-right: 0.625rem;
  }
}

.balance_r {
  width: 7.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.875rem;
  background-image: linear-gradient(to top, #e3a406 -1%, #fbd851 99%);
  cursor: pointer;

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  color: #13151f;
}

.balance_item {
  margin-top: 0.5rem;
  padding: 1.125rem 1.25rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: #13151f;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 1.5rem;
    height: auto;
    margin-right: 0.625rem;
  }

  .num {
    & > span:nth-child(1),
    .balance_val {
      display: block;
      font-family: Tomorrow;
      font-size: 1rem;
      font-weight: bold;
      text-align: left;
      color: #11cde9;
    }

    & > span:last-child,
    .balance_convert {
      display: block;
      font-size: 0.625rem;
      line-height: 1.2;
      text-align: left;
      color: #a9a4b4;
    }

    .balance_convert {
      font-family: Tomorrow;
      margin-left: 0.25rem;
      line-height: 1.4;
      font-weight: bold;
      display: inline-block;
    }
  }

  .balance_item_l {
    display: flex;
    align-items: center;
  }

  .balance_item_r {
    display: flex;
    align-items: center;
    cursor: pointer;

    .details {
      background-image: linear-gradient(to top, #e3a406, #fbd851);
      font-size: 0.875rem;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .show_other_btn {
      font-size: 0.875rem;
      font-weight: bold;
    }

    img {
      width: 1rem;
      height: auto;
      margin-left: 0.625rem;
    }

    .convert_btn {
      width: 1.5rem;
      height: auto;
      cursor: pointer;
    }
  }

  &.asset {
    .balance_val_box + .balance_val_box {
      margin-left: 1.25rem;
    }

    .balance_item_l {
      display: flex;
      align-items: flex-start;
    }

    .num {
      display: flex;
      align-items: baseline;

      & > span:last-child {
        text-indent: 0.25rem;
      }
    }

    .label {
      height: 1.25rem;
      display: flex;
      align-items: center;
      font-family: Tomorrow;
      font-size: 0.75rem;
      font-weight: bold;
      text-align: left;
      color: #a9a4b4;
      padding-bottom: 0.25rem;

      img {
        width: 1rem;
        height: auto;
        margin-left: 0.25rem;
      }
    }
  }
}

.balance_items {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .balance_item {
    flex: 1;
  }

  .balance_item + .balance_item {
    margin-left: 0.5rem;
  }
}

.wallet_operating {
  padding: 1.875rem 0 0.625rem;
}

.choose_box {
  padding-top: 0.625rem;
  display: flex;
  align-items: center;

  & > .coin_item + .coin_item {
    margin-left: 0.625rem;
  }

  .coin_item {
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    background-color: #1d0f36;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    color: rgba(169, 164, 180, 0.6);
    cursor: pointer;

    &:hover,
    &.active {
      background-color: #13151f;
      color: white;
    }
  }

  .replenish_operating {
    display: flex;
    align-items: center;
  }

  .replenish {
    font-size: 1rem;
    line-height: 1.6;
    color: #a9a4b4;
    padding-left: 1.875rem;
    padding-right: 0.625rem;
  }

  .retrieve {
    font-size: 1rem;
    line-height: 1.6;
    color: #fad54d;
    text-decoration: underline;
    cursor: pointer;
  }
}

:deep(.table_container) {
  background-color: #191c28;

  .cell {
    line-height: 2.5rem;
    font-size: 1.125rem;
    color: #a9a4b4;
  }

  th {
    &.el-table__cell {
      background-color: #191c28;
      border-bottom-color: #23172a;
      padding: 0;

      .cell {
        font-size: 1rem;
      }
    }
  }

  tr {
    background-color: #151722;

    .el-table__cell {
      padding: 0;
    }
  }

  td {
    &.el-table__cell {
      border-bottom-color: #23172a;
    }
  }

  .el-table__empty-block {
    background-color: #151722;
    font-size: 1.125rem;
    color: #a9a4b4;
  }

  .el-table__body tr:hover > td {
    background-color: transparent;
  }

  .el-table__body {
    & > tbody {
      & > .el-table__row {
        background-color: #151722;

        .el-table__cell {
          background-color: #151722;
        }
      }

      & > .el-table__row:nth-child(2n) {
        background-color: #281d31;

        .el-table__cell {
          background-color: #281d31;
        }
      }
    }
  }

  .el-table__inner-wrapper::before {
    display: none;
  }

  .view_btn {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.33;
    text-align: center;
    color: #fad54d;
    padding-bottom: 0.125rem;
    border-bottom: 1px solid #fad54d;
    cursor: pointer;
  }

  .sync_status {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 1.25rem;
      height: auto;
      margin-left: 0.75rem;
    }

    &.TRANSFERRING,
    &.IN_PROGRESS {
      color: #fad54d;
    }

    &.SUCCESS {
      color: #0cbb3e;
    }
    &.FAIL,
    &.REJECTED {
      color: #df4328;
    }
  }
}

.replenish_box {
  padding: 1.875rem 1.875rem 0;

  :deep(.wallet_addr) {
    margin: 1.875rem 0 2.5rem;

    .el-input__wrapper {
      height: 4.375rem;
      border-radius: 0.5rem;
      background-color: #13151f;
      box-shadow: none !important;
      padding: 0 1.25rem;
      border: solid 1px #363945;
      background-color: #13151f;

      & > input {
        font-size: 1.125rem;
        line-height: 1.6;
        text-align: left;
        color: white;
      }
    }
  }

  .btns_box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn_item {
      width: 22.5rem;
      height: 3.8125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      box-sizing: border-box;

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      cursor: pointer;

      &.cancel {
        border: solid 1px rgba(228, 231, 245, 0.15);
        background-color: #292c36;
        color: white;
      }

      &.submit {
        background-image: linear-gradient(to top, #e3a406, #fbd851);
        color: #13151f;
      }
    }
  }
}

.point_details {
  padding: 0 3.75rem;

  .point_details_title {
    margin-bottom: 1.875rem;
    font-family: Tomorrow;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to bottom,
      rgba(234, 32, 141, 0.9) 15%,
      #e63a97 39%,
      #f1f1cb 70%
    );
  }
}

.point_info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #fad54d;

  .minus {
    color: #df4328;
  }

  img {
    width: 1.5rem;
    margin-left: 0.625rem;
  }
}

.recharge_box {
  padding: 0 1.875rem;

  .operating_box {
    display: flex;
    align-items: center;
    justify-content: center;

    .operating_btn + .operating_btn {
      margin-left: 0.625rem;
    }

    .operating_btn {
      width: 8.875rem;
      height: 3.125rem;
      line-height: 3.125rem;
      text-align: center;
      border-radius: 0.5rem;
      background-color: #191c28;
      font-size: 1.125rem;
      font-weight: 500;
      color: rgba(169, 164, 180, 0.6);
      cursor: pointer;

      &.active {
        background-color: #13151f;
        color: #fad54d;
      }
    }
  }

  .operating_title {
    padding: 1.875rem 0;
  }

  .wallet_operating {
    display: flex;
    align-items: center;
    justify-content: center;

    .wallet_operating_item + .wallet_operating_item {
      margin-left: 1.875rem;
    }

    .wallet_operating_item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      width: 20.3125rem;
      height: 17.3125rem;
      border-radius: 0.625rem;
      background-color: #191c28;

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      text-align: center;
      color: #a9a4b4;
      cursor: pointer;

      img {
        width: 5rem;
        margin-bottom: 1.875rem;
      }

      &:hover {
        background-color: #13151f;
        color: #fad54d;
      }

      .wallet_operating_val {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

.choose_operating {
  padding: 0 1.875rem;
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  box-sizing: border-box;

  .withdraw_item {
    flex: 1;
  }

  .withdraw_item + .withdraw_item {
    margin-left: 1rem;
  }

  .withdraw_item:nth-child(1) {
    max-width: 19rem;
  }
}

.recharge_title {
  display: flex;
  align-items: center;
  padding: 1.875rem;

  .icon_arrow {
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  img {
    width: 3rem;
    margin: 0 1.25rem;
  }

  .recharge_title_text {
    font-family: BlenderPro;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: white;
  }
}

.recharge_relevant {
  box-sizing: border-box;
  border-radius: 0.625rem;
  background-color: #191c28;
  padding: 1.25rem;
  margin: 0 1.875rem;

  .qr_code_box {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .img_box {
    width: 9.375rem;
    height: 9.375rem;
    margin-left: 1.25rem;
    padding: 0.25rem;
    box-sizing: border-box;
    background-color: #fff;

    img {
      width: 100% !important;
      height: auto !important;
    }
  }

  .wallet_addr {
    flex: 1;
  }

  .tips_text {
    font-size: 0.875rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    margin-bottom: 1.25rem;
  }

  :deep(.wallet_addr_input) {
    padding: 0;
    border-radius: 0.5rem;
    border: solid 1px #363945;
    background-color: #13151f;

    .el-input__wrapper {
      border: none;
      box-shadow: none;
      padding: 0;
      padding-left: 1.25rem;
      height: 3.75rem;

      & > input {
        height: 3.75rem;
        font-size: 0.875rem;
        color: white;
      }
    }

    .el-input-group__append {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0;
    }

    .copy_btn {
      width: 4.625rem;
      height: 3.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0.5rem 0.5rem 0;
      background-image: linear-gradient(to top, #e3a406 -1%, #fbd851 99%);
      cursor: pointer;
    }
  }
}

.recharge_hint {
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  color: #a9a4b4;
  padding-top: 1.25rem;
}

.recharge_estimated_price {
  margin: 1.25rem 1.875rem 0;
  padding: 1.25rem;
  border-radius: 0.625rem;
  background-color: #191c28;
}

.price_convert {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .convert_interval {
    font-family: LeagueSpartan;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: white;
    padding: 0 1.25rem;
  }

  :deep(.price_input) {
    flex: 1;
    padding: 0 1.25rem;
    border-radius: 0.5rem;
    border: solid 1px #363945;
    background-color: #13151f;

    .el-input__wrapper {
      height: 4.375rem;
      border: none;
      box-shadow: none;
      padding: 0;

      & > input {
        font-size: 1.5rem;
        color: white;
      }
    }

    .el-input__prefix-inner {
      img {
        width: 1.875rem;
        margin-right: 0.625rem;
      }
    }
  }
}

.progress {
  position: relative;
  border-radius: 50%;
  margin-left: 0.625rem;
  box-sizing: border-box;
<<<<<<< HEAD

=======
>>>>>>> master
  .inner_progress {
    position: absolute;
    transform: rotate(-90deg);
  }
<<<<<<< HEAD

=======
>>>>>>> master
  svg circle {
    stroke: #11cde9;
    opacity: 1;
    fill: none;
  }
}

.price_convert_text {
  padding-top: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: left;
  color: #a9a4b4;
}

.withdraw_relevant {
  padding: 1.25rem;
  margin: 0 1.875rem;
  border-radius: 0.625rem;
  background-color: #191c28;

  .withdraw_tips_text {
    font-size: 0.875rem;
    line-height: 1.6;
    text-align: left;
    color: white;
    padding-bottom: 1.875rem;
  }

  .withdraw_hint {
    margin-top: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.2;
    text-align: left;
    color: #a9a4b4;
  }
}

.withdraw_item {
  .withdraw_item_lable {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    padding-bottom: 0.625rem;

    &.exchange_item_lable {
      justify-content: space-between;
    }

    img {
      width: 1rem;
      height: auto;
      margin-right: 0.5rem;
    }

    .required {
      color: #df4328;
      margin-left: 0.25rem;
    }
  }

  :deep(.withdraw_addr_input) {
    padding: 0 1.25rem;
    height: 4.375rem;
    border-radius: 0.5rem;
    border: solid 1px #363945;
    background-color: #13151f;

    .el-input__wrapper {
      border: none;
      box-shadow: none;
      padding: 0;

      & > input {
        font-size: 0.875rem;
        color: white;
      }
    }
  }

  .withdraw_convert {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price_convert {
      flex: 1;
    }
  }

  .withdraw_fee {
    font-size: 0.875rem;
    margin-top: 0.625rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;

    &.free {
      .fee_val {
        text-decoration: line-through;
      }
    }

    .free_text {
      padding-left: 0.25rem;
      color: rgba(13, 191, 3, 1);
    }
  }

  .withdraw_item_error {
    height: 1.5rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    line-height: 1.6;
    text-align: left;
    color: #df4328;
  }
}

.exchange_box {
  margin: 1.875rem;

  .exchange_relevant {
    margin: 0;
  }

  .exchange_addr_input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .exhange_icon {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      color: #a9a4b4;

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.625rem;
      }
    }

    :deep(.el-input) {
      input {
        text-align: right;
        font-size: 1.5rem;
        font-family: Inter;
        font-weight: bold;

        &::placeholder {
          color: rgba(169, 164, 180, 0.3);
        }
      }
    }

    :deep(.el-select) {
      .el-input__prefix-inner > :last-child {
        margin-right: 0;
      }

      .el-select__caret {
        font-size: 1.25rem;
      }

      .el-input__wrapper {
        height: 3.75rem;
        padding: 0 0.25rem;
        box-sizing: border-box;
        box-shadow: none !important;
        border: none !important;
        padding-left: 0 !important;

        input {
          width: 3.6rem;
          font-size: 1.125rem;
          color: #a9a4b4;
          text-align: left;
        }
      }
    }
  }

  .withdraw_addr_input {
    height: 3.75rem;
  }

  .withdraw_item_error {
    display: flex;
    justify-content: space-between;

    .max {
      font-size: 1rem;
      color: #2761f5;
      cursor: pointer;
    }
  }

  .swap_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.25rem;
    cursor: pointer;

    img {
      padding: 0.25rem;
      border-radius: 50%;
      background-color: #20222d;
    }
  }

  .conversion_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    color: #a9a4b4;

    img {
      margin-left: 0.625rem;
      cursor: pointer;
    }
  }

  .factor_box {
    margin-top: 1.25rem;
  }

  .exchange_btn {
    margin-top: 4.25rem;
  }
}

.withdraw_btn {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top, #e3a406, #fbd851);
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.21;
  text-align: center;
  color: #13151f;

  &.loading {
    border: solid 1px #363945;
    background-color: #292c36;
    background-image: none;
    color: #a9a4b4 !important;
    cursor: not-allowed;
  }

  img {
    width: 1.5rem;
    height: auto;
    margin-right: 0.625rem;
    animation: rotation 0.5s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }
}

:deep(.nft_type) {
  min-width: 10.5rem;

  .el-input {
    &.is-focus {
      .el-input__wrapper {
        box-shadow: none !important;
      }
    }
  }

  .el-input__wrapper {
    height: 3.3125rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: #1d0f36;
    box-shadow: none !important;
    border: none !important;

    &.is-focus {
      box-shadow: none !important;
    }

    & > .el-input__prefix {
      img {
        width: 1.5rem;
        height: auto;
      }
    }

    & > input {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      text-align: left;
      color: #fad54d;
    }

    .el-select__caret {
      font-size: 1.5rem;
    }
  }

  &.wallet_network {
    width: 100%;

    .el-input__wrapper {
      height: 3rem;
      font-size: 1.125rem;
    }
  }
}

.pagination-box {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;

  :deep(.el-pagination) {
    button {
      background: transparent;
      color: white;
      font-family: Tomorrow;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5;

      &:disabled {
        opacity: 0.8;
      }

      &.btn-prev {
        margin-right: 1.25rem;
      }

      &.btn-next {
        margin-left: 1.25rem;
      }
    }
  }

  :deep(.el-pager) {
    & > li + li {
      margin-left: 0.75rem;
    }

    li {
      width: 3.25rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2.5rem;
      background-color: transparent;
      border: solid 1px rgba(146, 148, 156, 0.3);

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      color: #a9a4b4;

      &.is-active,
      &:hover {
        background-image: linear-gradient(to top, #e3a406, #fbd851);
        border-color: transparent;
        color: #13151f;
      }
    }
  }
}

.amount_box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  color: #a9a4b4;

  & > img {
    width: 1rem;
    margin-left: 0.5rem;
  }
}

:deep(.el-dialog) {
  border-radius: 1.25rem;
  box-shadow: inset 0 0.125rem 0 0 rgba(255, 255, 255, 0.05);
  background-color: #20222d;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    position: relative;
    padding: 3.75rem 0;
  }
}

.close_btn {
  position: absolute;
  top: 1.6875rem;
  right: 1.875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #2d313f;
  background-color: #2a2d36;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  color: #a9a4b4;
}

.operating_title {
  font-family: BlenderPro;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: white;
}

.icon_label {
  display: flex;
  align-items: center;

  img {
    width: 1.25rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 950px) {
  .my_wallet_wrapper {
    background-image: none;
    min-height: auto;
  }

  .wallet_panel {
    padding: 0;
  }

  .balance_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title_text {
    font-size: 1.125rem;
  }

  .balance_l {
    img {
      width: 1.125rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }

  .balance_r {
    width: auto;
    height: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
  }

  .balance_item {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;

    img {
      width: 1rem;
      height: auto;
      margin-right: 0.25rem;
    }

    .num {
      & > span:nth-child(1) {
        font-size: 0.75rem;
      }

      & > span:last-child {
        font-size: 0.625rem;
      }
    }

    .balance_item_r {
      .details {
        font-size: 0.75rem;
      }

      img {
        width: 0.75rem;
        height: auto;
        margin-left: 0.25rem;
      }
    }
  }

  .wallet_operating {
    padding: 0.625rem 0 0.625rem;
  }

  .choose_box {
    padding-top: 0.5rem;
    flex-wrap: wrap;

    & > .coin_item + .coin_item {
      margin-left: 0.25rem;
    }

    .coin_item {
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      font-size: 0.75rem;
    }

    .replenish_operating {
      width: 100%;
      padding-top: 0.5rem;
    }

    .replenish {
      font-size: 0.75rem;
      padding-left: 0;
      padding-right: 0.5rem;
    }

    .retrieve {
      font-size: 0.75rem;
    }
  }

  :deep(.table_container) {
    .cell {
      line-height: 1.5rem;
      font-size: 0.675rem;
      color: #a9a4b4;
      padding: 0.25rem;
    }

    th {
      &.el-table__cell {
        .cell {
          font-size: 0.675rem;
        }
      }
    }

    .el-table__empty-block {
      font-size: 0.675rem;
    }

    .view_btn {
      font-size: 0.675rem;
    }

    .sync_status {
      img {
        width: 1rem;
        height: auto;
        margin-left: 0.25rem;
      }
    }
  }

  :deep(.el-dialog) {
    border-radius: 0;

    .el-dialog__header {
      display: none;
    }

    .el-dialog__body {
      position: relative;
      padding: 1rem 0;
    }
  }

  .close_btn {
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    box-sizing: border-box;
  }

  .operating_title {
    font-size: 2rem;
  }

  .replenish_box {
    padding: 1rem 1rem 0;

    :deep(.wallet_addr) {
      margin: 0.675rem 0 1.5rem;

      .el-input__wrapper {
        height: 2.5rem;
        border-radius: 0.5rem;
        padding: 0 1rem;

        & > input {
          height: 2.5rem;
          font-size: 0.75rem;
        }
      }
    }

    .btns_box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > div + div {
        margin-left: 0.5rem;
      }

      .btn_item {
        flex: 1;
        width: auto;
        height: 2.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        box-sizing: border-box;

        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.6;
        cursor: pointer;

        &.cancel {
          border: solid 1px rgba(228, 231, 245, 0.15);
          background-color: #292c36;
          color: white;
        }

        &.submit {
          background-image: linear-gradient(to top, #e3a406, #fbd851);
          color: #13151f;
        }
      }
    }
  }

  .point_details {
    padding: 1rem 1rem 0;
    box-sizing: border-box;

    .point_details_title {
      margin-bottom: 0.5rem;
      font-size: 1.125rem;
    }
  }

  .point_info {
    font-size: 0.75rem;

    img {
      width: 0.75rem;
      margin-left: 0.25rem;
    }
  }

  .recharge_box {
    padding: 0 1rem;
    padding-top: 2.25rem;

    .operating_box {
      .operating_btn + .operating_btn {
        margin-left: 0.25rem;
      }

      .operating_btn {
        max-width: 6rem;
        flex: 1;
        height: 2rem;
        line-height: 2rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        &.buy_crypTo {
          flex: 1.2;
        }
      }
    }

    .operating_title {
      padding: 0.625rem 0;
    }

    .wallet_operating {
      .wallet_operating_item + .wallet_operating_item {
        margin-left: 1rem;
      }

      .wallet_operating_item {
        flex: 1;
        max-width: 9rem;
        height: 8rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;

        img {
          width: 3rem;
          margin-bottom: 0.675rem;
        }

        &:hover {
          background-color: #13151f;
          color: #fad54d;
        }

        .wallet_operating_val {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }

  .choose_operating {
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    box-sizing: border-box;

    .withdraw_item {
      flex: 1;
    }

    .withdraw_item + .withdraw_item {
      margin-left: 1rem;
    }

    .withdraw_item:nth-child(1) {
      max-width: 6.75rem;
      box-sizing: border-box;
    }
  }

  .recharge_title {
    padding: 0.75rem 0 0.5rem;

    .icon_arrow {
      font-size: 0.75rem;
    }

    img {
      width: 1rem;
      margin: 0 0.5rem;
    }

    .recharge_title_text {
      font-size: 1.25rem;
    }
  }

  .recharge_relevant {
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #191c28;
    padding: 1rem;
    margin: 0;

    .qr_code_box {
      display: flex;
      justify-content: space-between;
      margin-top: 0.25rem;
    }

    .img_box {
      width: 5rem;
      height: 5rem;
      margin: 0 auto;
      margin-bottom: 0.5rem;
      padding: 0.25rem;

      img {
        width: 100% !important;
        height: auto !important;
      }
    }

    .tips_text {
      font-size: 0.75rem;
      line-height: 1.2;
      text-align: center;
      color: #a9a4b4;
      margin-bottom: 0.5rem;
    }

    :deep(.wallet_addr_input) {
      padding: 0;
      border-radius: 0.25rem;

      .el-input__wrapper {
        height: 1.875rem;
        padding-left: 0.25rem;

        & > input {
          height: 1.875rem;
          font-size: 0.75rem;
          color: white;
        }
      }

      .el-input-group__append {
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
      }

      .copy_btn {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 0 0.25rem 0.25rem 0;
        background-image: linear-gradient(to top, #e3a406 -1%, #fbd851 99%);
        font-size: 0.75rem;
        font-weight: 500;
        color: #13151f;
        cursor: pointer;

        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .recharge_hint {
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    padding-top: 0.5rem;
  }

  .recharge_estimated_price {
    margin: 0.5rem 0 0;
    padding: 1.25rem;
    border-radius: 0.25rem;
    background-color: #191c28;
  }

  .price_convert {
    .convert_interval {
      font-size: 0.75rem;
      padding: 0 0.5rem;
    }

    :deep(.price_input) {
      padding: 0 0.5rem;
      border-radius: 0.25rem;

      .el-input__wrapper {
        height: 2rem;

        & > input {
          height: 2rem;
          font-size: 0.75rem;
          color: white;
        }
      }

      .el-input__prefix-inner {
        img {
          width: 1rem;
          margin-right: 0.25rem;
        }
      }
    }
  }

  .price_convert_text {
    padding-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.2;
  }

  .withdraw_relevant {
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;

    .withdraw_tips_text {
      font-size: 0.75rem;
      line-height: 1.2;
      text-align: left;
      color: white;
      padding-bottom: 0.5rem;
    }

    .withdraw_hint {
      margin-top: 0.5rem;
      font-size: 0.625rem;
      line-height: 1.2;
      text-align: left;
      color: #a9a4b4;
    }
  }

  .withdraw_item {
    .withdraw_item_lable {
      font-size: 0.75rem;
      line-height: 1.2;
      padding-bottom: 0.25rem;
    }

    :deep(.withdraw_addr_input) {
      padding: 0 0.5rem;
      height: 2rem;
      border-radius: 0.25rem;

      .el-input__wrapper {
        & > input {
          height: 2rem;
          font-size: 0.75rem;
        }
      }
    }

    .withdraw_fee {
      font-size: 0.625rem;
      margin-top: 0.25rem;
      line-height: 1.2;
      text-align: left;
      color: #a9a4b4;
    }

    .withdraw_item_error {
      height: 1rem;
      font-size: 0.625rem;
      margin-top: 0.25rem;
      line-height: 1.2;
    }
  }

  .withdraw_btn {
    width: 100%;
    height: 2rem;
    border-radius: 0.25rem;
    font-size: 0.625rem;

    img {
      width: 1rem;
      margin-right: 0.25rem;
    }
  }

  .exchange_box {
    margin: 1.875rem 0;

    .exchange_item_lable {
      line-height: 2;
    }

    .withdraw_item_error {
      padding-bottom: 1.25rem;
      margin-top: 0.5rem;
    }

    :deep(.exchange_relevant) {
      .exhange_icon {
        font-size: 0.875rem;
        font-weight: bold;

        img {
          width: 1rem;
          height: 1rem;
        }
      }

      .el-input {
        .el-input__wrapper {
          & > input {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  :deep(.nft_type) {
    min-width: auto;

    .el-input {
      &.is-focus {
        .el-input__wrapper {
          box-shadow: none !important;
        }
      }
    }

    .el-input__wrapper {
      height: 1.875rem;
      padding: 0 0.25rem;
      box-sizing: border-box;
      border-radius: 0.25rem;
      background-color: #1d0f36;
      box-shadow: none !important;
      border: none !important;

      &.is-focus {
        box-shadow: none !important;
      }

      & > .el-input__prefix {
        img {
          width: 1rem;
          height: auto;
        }
      }

      & > input {
        height: 1.875rem;
        font-size: 0.75rem;
      }

      .el-select__caret {
        font-size: 1rem;
      }
    }

    &.wallet_network {
      width: 100%;

      .el-input__wrapper {
        height: 1.875rem;
        font-size: 0.75rem;
      }
    }
  }

  .pagination-box {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;

    :deep(.el-pagination) {
      button {
        font-size: 0.75rem;
        line-height: 1.2;

        &:disabled {
          opacity: 0.8;
        }

        &.btn-prev {
          margin-right: 0.5rem;
        }

        &.btn-next {
          margin-left: 0.5rem;
        }
      }
    }

    :deep(.el-pager) {
      & > li + li {
        margin-left: 0.5rem;
      }

      li {
        width: auto;
        height: 1.5rem;
        border-radius: 2.5rem;
        font-size: 0.75rem;
      }
    }
  }

  .amount_box {
    font-size: 0.75rem;

    & > img {
      width: 0.75rem;
      margin-left: 0.25rem;
    }
  }
}

.not-select {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}
