.contents-info {
  box-sizing: border-box;
  width: 95rem;
  margin: 0 auto;
  margin-top: 6.25rem;
  padding-bottom: 4rem;
}

.home-public-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}

.title-box-l {
  .title_text {
    margin: 0 auto;
    background-image: linear-gradient(
      to bottom,
      rgba(234, 32, 141, 0.9) 15%,
      #e63a97 39%,
      #f1f1cb 70%
    );
    font-family: Tomorrow;
    font-size: 3.5rem;
    line-height: 1.3;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title_description {
    padding-top: 1rem;
    width: 39.6875rem;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
  }
}

:deep(.nft_type) {
  .el-input {
    &.is-focus {
      .el-input__wrapper {
        box-shadow: none !important;
      }
    }

    .el-select__caret {
      font-size: 1.5rem;
    }
  }

  .el-input__wrapper {
    height: 3.3125rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    background-color: #1d0f36;
    box-shadow: none !important;
    border: none !important;

    & > input {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      text-align: left;
      color: #fad54d;
    }
  }
}

.collections_box {
  width: 20rem;
  display: flex;
  align-items: center;
  border-radius: 3.3125rem;
  background-color: #1d0f36;
  position: relative;

  .collections_text {
    position: absolute;
    left: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: left;
    color: rgba(169, 164, 180, 0.6);
  }

  :deep(.nft_type) {
    width: 100%;

    .el-input__wrapper {
      background-color: transparent;
      padding-left: 8.75rem;

      & > input::placeholder {
        color: #fad54d;
      }
    }
  }

  &.type_box {
    flex: none;
    width: 14.6875rem;

    :deep(.nft_type) {
      .el-input__wrapper {
        padding-left: 5.4375rem;
      }
    }
  }
}

:deep(.table_container) {
  .cell {
    line-height: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: #a9a4b4;
  }

  th {
    &.el-table__cell {
      background-color: #191c28;
      border-bottom-color: #23172a;
    }
  }

  tr {
    background-color: #151722;

    .el-table__cell {
      background-color: #191c28;
    }
  }

  td {
    &.el-table__cell {
      border-bottom-color: #23172a;
    }
  }

  .el-table__empty-block {
    background-color: #151722;
    font-size: 1.125rem;
    color: #a9a4b4;
  }

  .el-table__body tr:hover > td {
    background-color: #281d31 !important;
  }

  .el-table__inner-wrapper::before {
    display: none;
  }

  .user_info {
    display: inline-flex;
    align-items: center;

    .image_box {
      position: relative;
      display: flex;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 0.5rem;
      overflow: hidden;
      box-sizing: border-box;

      .nft_img {
        width: 100%;
        height: 100%;
      }
    }

    .user_text {
      width: 12.5rem;
      padding-left: 0.75rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .active_btn {
    width: 1.875rem;
    height: 1.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #1e90f9, #e022e3);
  }
}

.pagination-box {
  display: flex;
  justify-content: center;
  padding-top: 2.8125rem;

  :deep(.el-pagination) {
    button {
      background: transparent;
      color: white;
      font-family: Tomorrow;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5;

      &:disabled {
        opacity: 0.8;
      }

      &.btn-prev {
        margin-right: 1.25rem;
      }

      &.btn-next {
        margin-left: 1.25rem;
      }
    }
  }

  :deep(.el-pager) {
    & > li + li {
      margin-left: 0.75rem;
    }

    li {
      width: 3.25rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2.5rem;
      background-color: transparent;
      border: solid 1px rgba(146, 148, 156, 0.3);

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      color: #a9a4b4;

      &.is-active,
      &:hover {
        background-image: linear-gradient(to top, #e3a406, #fbd851);
        border-color: transparent;
        color: #13151f;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .contents-info {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem 0;
    margin-top: 0;
  }

  .home-public-title {
    justify-content: center;
    margin: 0 0 1.5rem 0;
  }

  .title-box-l {
    .title_text {
      font-size: 1.5rem;
      line-height: 1.2;
      text-align: left;
    }

    .title_description {
      margin: 0 auto;
      padding-top: 0;
      width: 100%;
      font-size: 0.625rem;
      line-height: 1.2;
      color: #a9a4b4;
      text-align: left;
    }
  }

  .title-box-r {
    display: none;
  }

  :deep(.nft_type) {
    .el-input {
      .el-select__caret {
        font-size: 0.75rem;
      }
    }

    .el-input__wrapper {
      height: 2rem;
      padding: 0 0.5rem;

      & > input {
        height: 2rem;
        font-size: 0.75rem;
      }
    }
  }

  .collections_box {
    width: 12rem;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    background-color: #1d0f36;
    position: relative;

    .collections_text {
      position: absolute;
      left: 0.25rem;
      font-size: 0.75rem;
      line-height: 1.6;
      text-align: left;
      color: rgba(169, 164, 180, 0.6);
    }

    :deep(.nft_type) {
      width: 100%;

      .el-input__wrapper {
        background-color: transparent;
        padding-left: 5rem;

        & > input::placeholder {
          color: #fad54d;
        }
      }
    }
  }

  :deep(.table_container) {
    .cell {
      line-height: 1.5rem;
      font-size: 0.75rem;
      line-height: 1.2;
      color: #a9a4b4;
      white-space: pre;
    }

    .el-table__empty-block {
      background-color: #151722;
      font-size: 0.75rem;
      color: #a9a4b4;
    }

    tr {
      background-color: #151722;

      .el-table__cell {
        background-color: #191c28;
        padding: 0.5rem 0;
      }
    }

    td {
      &.el-table__cell {
        border-bottom-color: #23172a;
      }
    }

    .user_info {
      display: inline-flex;
      align-items: center;

      .image_box {
        width: 2rem;
        height: auto;
        border-radius: 0.25rem;
      }

      .user_text {
        width: 2rem;
        padding-left: 0.5rem;
      }
    }

    .active_btn {
      width: 1rem;
      height: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-image: linear-gradient(to bottom, #1e90f9, #e022e3);

      img {
        width: 0.75rem;
      }
    }
  }

  .pagination-box {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;

    :deep(.el-pagination) {
      button {
        font-size: 0.75rem;
        line-height: 1.2;

        &:disabled {
          opacity: 0.8;
        }

        &.btn-prev {
          margin-right: 0.5rem;
        }

        &.btn-next {
          margin-left: 0.5rem;
        }
      }
    }

    :deep(.el-pager) {
      & > li + li {
        margin-left: 0.5rem;
      }

      li {
        width: auto;
        height: 1.5rem;
        border-radius: 2.5rem;
        font-size: 0.75rem;
      }
    }
  }
}
