.mystery-boxes {
  box-sizing: border-box;
  width: 95rem;
  margin: 0 auto;
  margin-top: 10.625rem;
}

.home-public-title {
  margin: 0 0 5rem 0;

  .title_text {
    margin: 0 auto;
    background-image: linear-gradient(to bottom,
        rgba(234, 32, 141, 0.9) 15%,
        #e63a97 39%,
        #f1f1cb 70%);
    font-family: Tomorrow;
    font-size: 3.5rem;
    line-height: 1.3;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title_description {
    margin: 0 auto;
    padding-top: 1rem;
    width: 40.9375rem;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: center;
    color: #a9a4b4;
  }
}

.boxes-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &>li+li {
    margin-left: 1.8125rem;
  }

  &>li:nth-child(n+5) {
    margin-top: 1.875rem;
  }

  &>li:nth-child(4n+1) {
    margin-left: 0;
  }
}

.mystery-boxes-item {
  width: 22.375rem;
  height: 29.5625rem;
  padding: 1px;
  overflow: hidden;
  background-image: url("@/assets/svg/home/box_bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;

  &:hover {
    .mystery-boxs-list-img {
      transform: scale(1.15);
      transition: all 0.3s;
    }
  }

  .img_box {
    width: 100%;
    height: 15.5rem;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    align-items: center;
    justify-content: center;
    background-image: url("@/assets/svg/home/box_img_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }

  .mystery-boxs-list-img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .mystery-boxs-title {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.90625rem;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box-name {
      flex: 1;
      font-family: LeagueSpartan;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
      text-align: left;
      color: #e4e7f5;
    }

    img {
      width: 2.1875rem;
      height: auto;
    }
  }

  .box-price {
    padding: 0.625rem 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price-box {
      display: flex;
      align-items: center;
      font-family: Tomorrow;
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 1.4;
      text-align: left;
      color: #11cde9;

      img {
        margin-right: 0.5rem;
        width: 1.875rem;
        height: auto;
      }
    }
  }

  .other {
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sale {
      font-family: BlenderPro;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.4;
      text-align: right;
      color: white;
    }

    .sale-val {
      font-size: 0.875rem;
      line-height: 1.6;
      text-align: right;
      color: #a9a4b4;
    }
  }
}

.boxes-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.875rem;
  height: 2.875rem;
  border-radius: 1.875rem;
  padding: 1px;
  margin: 0 auto;
  margin-top: 1.25rem;
  background-image: linear-gradient(to bottom, #1b082b, #1b082b),
    linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
  padding: 0.125rem;
  border-image-source: linear-gradient(to bottom,
      #5fe3ef 12%,
      #00689d 53%,
      #b063f5 70%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to top, #e3a406, #fbd851);

    &>.boxes-button-name {
      color: #13151f;
      background: transparent;
      -webkit-background-clip: inherit;
      background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}

.boxes-button-name {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background-image: linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ntf-tickets-all {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4rem;
  cursor: pointer;

  font-size: 1.5rem;
  line-height: 1;
  color: #a9a4b4;

  img {
    width: 1rem;
    height: auto;
    margin-left: 0.625rem;
  }
}

@media screen and (max-width: 950px) {
  .mystery-boxes {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
  }

  .home-public-title {
    margin: 0 0 1rem 0;

    .title_text {
      font-size: 2rem;
      line-height: 1.2;
    }

    .title_description {
      padding-top: 0.5rem;
      width: 80%;
      font-size: 0.75rem;
      line-height: 1.2;
    }
  }

  .boxes-content {
    margin: 0 auto 1rem;

    &>li+li {
      margin-left: 0.5rem;
    }

    &>li:nth-child(n+3) {
      margin-top: 0;
    }

    &>li:nth-child(2n+1) {
      margin-left: 0;
    }
  }

  .mystery-boxes-item {
    flex: 1;
    min-width: 45%;
    max-width: 48%;
    height: 15rem;
    background-image: url("@/assets/svg/home/mini/nft_box_bg.svg");

    &:hover {
      .mystery-boxs-list-img {
        transform: scale(1.15);
        transition: all 0.3s;
      }
    }

    .img_box {
      width: 100%;
      height: 6.5rem;
      padding: 2px;
      box-sizing: border-box;
    }

    .mystery-boxs-list-img {
      width: 100%;
      height: 100%;
    }

    .mystery-boxs-title {
      margin-top: 0.5rem;
      padding: 0 0.5rem;
      align-items: center;

      .box-name {
        flex: 1;
        line-height: 1.6;
        font-size: 0.75rem;
      }

      img {
        width: 0.75rem;
        height: auto;
      }
    }

    .box-price {
      padding: 0.5rem 0.5rem 0;

      .price-box {
        font-size: 1rem;
        line-height: 1.2;

        img {
          margin-right: 0.5rem;
          width: 1rem;
          height: auto;
        }
      }
    }

    .other {
      padding: 0 0.5rem;

      .sale {
        font-size: 0.75rem;
      }

      .sale-val {
        font-size: 0.625rem;
      }
    }
  }

  .boxes-button {
    width: 80%;
    height: 1.5rem;
    border-radius: 1.5rem;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  .boxes-button-name {
    font-size: 0.75rem;
    line-height: 1;
  }

  .ntf-tickets-all {
    margin-top: 2rem;
    cursor: pointer;

    font-size: 0.75rem;
    line-height: 1;
    color: #a9a4b4;

    img {
      width: 0.75rem;
      height: auto;
      margin-left: 0.5rem;
    }
  }
}