.mystery-boxes {
    box-sizing: border-box;
    width: 95rem;
    margin: 0 auto;
    margin-top: 10.625rem;
}

.home-public-title {
    margin: 0 0 5rem 0;

    .title_text {
        margin: 0 auto;
        background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
        font-family: Tomorrow;
        font-size: 3.5rem;
        line-height: 1.3;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .title_description {
        margin: 0 auto;
        padding-top: 1rem;
        width: 40.9375rem;
        font-size: 1.125rem;
        line-height: 1.6;
        text-align: center;
        color: #a9a4b4;
    }
}

.boxes-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mystery-boxes-item {
    width: 22.375rem;
    height: 29.5625rem;
    border-radius: 0.5rem;
    overflow: hidden;
    background-image: url("@/assets/svg/home/box_bg.svg");
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
        .mystery-boxs-list-img {
            transform: scale(1.15);
            transition: all 0.3s;
        }
    }

    .img_box {
        width: 100%;
        height: 15.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("@/assets/svg/home/box_img_bg.svg");
        overflow: hidden;
    }

    .mystery-boxs-list-img {
        width: auto;
        height: 13rem;
    }

    .mystery-boxs-title {
        width: 100%;
        box-sizing: border-box;
        margin-top: 1.90625rem;
        padding: 0 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .box-name {
            flex: 1;
            font-family: LeagueSpartan;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1;
            text-align: left;
            color: #e4e7f5;
        }
    }

    .box-price {
        padding: 0.625rem 1.25rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price-box {
            display: flex;
            align-items: center;
            font-family: Tomorrow;
            font-size: 1.875rem;
            font-weight: bold;
            line-height: 1.4;
            text-align: left;
            color: #11cde9;
        }

        .sale {
            font-family: BlenderPro;
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 1.5;
            text-align: right;
            color: #e4e7f5;
        }
    }

    .other {
        padding: 0 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buy {
            font-size: 0.875rem;
            line-height: 1.6;
            text-align: left;
            color: #e4e7f5;
        }

        .sale-val {
            font-size: 0.875rem;
            line-height: 1.6;
            text-align: right;
            color: #a9a4b4;
        }
    }
}

.boxes-button {
    width: 19.875rem;
    height: 2.875rem;
    border-radius: 1.875rem;
    margin: 0 auto;
    margin-top: 1.25rem;
    background-image: linear-gradient(to bottom, #1b082b, #1b082b), linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);

    &:hover {
        background-image: linear-gradient(to top, #e3a406, #fbd851);

        &>.boxes-button-name {
            color: #13151f;
            background: transparent;
            -webkit-background-clip: inherit;
            background-clip: inherit;
            -webkit-text-fill-color: inherit;
        }
    }
}

.boxes-button-name {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    background-image: linear-gradient(to bottom,
            #1e90f9 12%,
            #e022e3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}