.wrapper_bg {
  background-image: url("@/assets/img/box/lottery_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.ntf_tickets_list_wrapper {
  margin: 0 auto;
  width: 95rem;
  padding: 0 0 5rem;
  color: #fff;
}

.banner_box {
  margin: 0 auto;
  height: 18.75rem;
  background-image: url("@/assets/svg/home/box_banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5rem;
}

.search_box {
  display: flex;
  align-items: center;
  margin: 5.625rem 0 3.75rem;

  &>div+div {
    margin-left: 1.25rem;
  }

  :deep(.search_input) {

    .el-input__wrapper {
      height: 3.375rem;
      box-shadow: none;
      padding: 0 1.25rem;
      box-sizing: border-box;
      border-radius: 1.875rem;
      background-color: #13151f;
      border: solid 1px #363945;

      &>input {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.6;
        text-align: left;
        color: white;
      }

    }

    .el-input__icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .sort_box {
    position: relative;
    margin-left: 1.25rem;

    .sort_title {
      position: absolute;
      top: 0;
      left: 1.25rem;
      bottom: 0;
      font-size: 1.125rem;
      line-height: 3.375rem;
      text-align: left;
      color: rgba(169, 164, 180, 0.6);
    }

    :deep(.select_box) {
      width: 18.75rem;

      .el-select__caret {
        font-size: 1.5rem;
      }

      .el-input__wrapper {
        padding-left: 6.6875rem;
        height: 3.375rem;
        box-shadow: none !important;
        background-color: #1d0f36;
        border-radius: 1.875rem;

        &>input {
          font-size: 1.125rem;
          font-weight: 500;
          text-align: left;
          color: #fad54d;
        }

        &>input::placeholder {
          color: #fad54d;
        }
      }
    }

    &.collections {
      :deep(.select_box) {

        .el-input__wrapper {
          padding-left: 8.75rem;
        }
      }
    }
  }
}

.title_description {
  margin: 0 auto;
  padding-top: 1rem;
  width: 40.9375rem;
  font-size: 1.125rem;
  line-height: 1.6;
  text-align: center;
  color: #a9a4b4;
}

.boxes-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &>li+li {
    margin-left: 1.8125rem;
  }

  &>li:nth-child(n+5) {
    margin-top: 1.875rem;
  }

  &>li:nth-child(4n+1) {
    margin-left: 0;
  }
}

.mystery-boxes-item {
  width: 22.375rem;
  height: 29.5625rem;
  padding: 1px;
  overflow: hidden;
  background-image: url("@/assets/svg/home/box_bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;

  &:hover {
    .mystery-boxs-list-img {
      transform: scale(1.15);
      transition: all 0.3s;
    }
  }

  .img_box {
    width: 100%;
    height: 15.5rem;
    display: flex;
    border-radius: 0.5rem 0.5rem 0 0;
    align-items: center;
    justify-content: center;
    background-image: url("@/assets/svg/home/box_img_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }

  .mystery-boxs-list-img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .mystery-boxs-title {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.90625rem;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .box-name {
      flex: 1;
      font-family: LeagueSpartan;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
      text-align: left;
      color: #e4e7f5;
    }

    img {
      width: 2.1875rem;
      height: auto;
    }
  }

  .box-price {
    padding: 0.625rem 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price-box {
      display: flex;
      align-items: center;
      font-family: Tomorrow;
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 1.4;
      text-align: left;
      color: #11cde9;

      img {
        margin-left: 0.5rem;
        width: 1.875rem;
        height: auto;
      }
    }
  }

  .other {
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sale {
      font-family: BlenderPro;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.4;
      text-align: right;
      color: white;
    }

    .sale-val {
      font-size: 0.875rem;
      line-height: 1.6;
      text-align: right;
      color: #a9a4b4;
    }
  }
}

.boxes-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.875rem;
  height: 2.875rem;
  border-radius: 1.875rem;
  padding: 1px;
  margin: 0 auto;
  margin-top: 1.25rem;
  background-image: linear-gradient(to bottom, #1b082b, #1b082b),
    linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
  padding: 0.125rem;
  border-image-source: linear-gradient(to bottom,
      #5fe3ef 12%,
      #00689d 53%,
      #b063f5 70%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to top, #e3a406, #fbd851);

    &>.boxes-button-name {
      color: #13151f;
      background: transparent;
      -webkit-background-clip: inherit;
      background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}

.boxes-button-name {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background-image: linear-gradient(to bottom, #1e90f9 12%, #e022e3 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no_date {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  height: 25rem;

  &>span {
    margin: 0 auto;
    display: block;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: #191b27;
    font-family: BlenderPro;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #a9a4b4;
  }
}

.pagination-box {
  display: flex;
  justify-content: center;
  padding-top: 1.875rem;

  :deep(.el-pagination) {
    button {
      background: transparent;
      color: white;
      font-family: Tomorrow;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5;

      &:disabled {
        opacity: 0.8;
      }

      &.btn-prev {
        margin-right: 1.25rem;
      }

      &.btn-next {
        margin-left: 1.25rem;
      }
    }
  }

  :deep(.el-pager) {

    &>li+li {
      margin-left: 0.75rem;
    }

    li {
      width: 3.25rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2.5rem;
      background-color: transparent;
      border: solid 1px rgba(146, 148, 156, 0.3);

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      color: #a9a4b4;

      &.is-active,
      &:hover {
        background-image: linear-gradient(to top, #e3a406, #fbd851);
        border-color: transparent;
        color: #13151f;
      }
    }
  }
}