.ntf_tickets_list_wrapper {
    padding-top: 20px;
    color: #fff;
}

.banner_box {
    margin: 0 auto;
    margin-top: 48px;
    width: 75rem;
    height: 15rem;
    border: 1px solid #000;
}

.search_box {
    display: flex;
    align-items: center;
    width: 75rem;
    margin: 0 auto;
    margin-top: 24px;

    .search_input {
        flex: 1;
        margin-right: 24px;
    }

    .el-select+.el-select {
        margin-left: 24px;
    }
}

.boxes-content {
    display: flex;
    flex-wrap: wrap;
    width: 75rem;
    margin: 0 auto;
    margin-top: 48px;
    padding-left: 0.5%;

    &>li {
        margin-right: 1%;
    }

    &>li:nth-child(n+6) {
        margin-top: 1%;
    }

    &>li:nth-child(5n) {
        margin-right: 0px;
    }
}

.ntf-tickets-list {
    width: 19%;
    height: 363px;
    padding-bottom: 10px;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 0.2s;

    &:hover {
        transform: translateY(-20px);

        .boxes-button {
            border-image-source: linear-gradient(to bottom,
                    #ffffff 12%,
                    #ffffff 53%,
                    #ffffff 70%);
            background-image: linear-gradient(to bottom, #1b082b, #1b082b),
                linear-gradient(to bottom, #ffffff 12%, #ffffff 53%, #ffffff 70%);
        }

        .boxes-button-enter {
            width: 100%;
            height: 100%;
            border-radius: 17px;
            background-image: linear-gradient(to bottom,
                    #5fe3ef,
                    #00689d 54%,
                    #b063f5 75%);
        }

        .boxes-button-text {
            background-image: linear-gradient(to bottom,
                    #ffffff,
                    #ffffff 54%,
                    #ffffff 75%);
        }
    }
}

.tickets-boxs-list-img {
    $imgWidth: 200px;
    width: 100%;
    height: $imgWidth;
}

.boxes-title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.ntf-tickets-content-title {
    width: 100px;
}

.ntf-tickets-img {
    width: var(--imgWidth);
    height: var(--imgWidth);
    margin-left: var(--imgMargin);
}

.tickets-boxs-text {
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to bottom,
            #c7c3cc 3%,
            #e2e3cf 24%,
            #d94ba5 78%);
    font-size: 24px;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.ntf-tickets-text {
    width: 100%;
    font-size: 16px;
    color: #a896b5;
    margin-top: 10px;
}

.ntf-tickets-all-text {
    background-image: linear-gradient(to bottom,
            #768098 10%,
            #eceacf 47%,
            #edbed2 70%);
    font-size: 18px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.ntf-tickets-all-img {
    width: 16px;
    margin-left: 4px;
}

.ntf-tickets-title,
.ntf-tickets-all {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
}

.ntf-tickets-all {
    cursor: pointer;
}

:deep(input::-webkit-outer-spin-button),
:deep(input::-webkit-inner-spin-button) {
    -webkit-appearance: none;
}

:deep(input[type="number"]) {
    -moz-appearance: textfield;
}