.ntf_tickets_info_wrapper {
    padding-top: 20px;
    color: #fff;
}

.nft_details {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nft_details_l {
    position: relative;
    display: flex;

    img {
        width: 30rem;
        height: auto;
        display: inline-block;
        border-radius: 16px;
    }

    .end_time {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0 32px;
        height: 36rpx;
        border-radius: 16px;
        color: #fff;
        background-color: rgba(232, 97, 90, 1);
    }
}

.nft_details_r {
    flex: 1;
    color: #fff;
    text-align: left;
    padding-left: 48px;

    .nft_name {
        font-size: 48px;
    }

    .nft_activity {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
            display: flex;
            align-items: center;
            color: #FF7200;

            .title {
                font-size: 36px;
                line-height: 1;
            }

            .val,
            .unit {
                font-size: 42px;
                line-height: 1;
            }
        }

        .time {
            display: flex;
            align-items: center;
            line-height: 1;
            font-size: 32px;

            .time-text {
                padding-left: 8px;
                padding-top: 8px;
            }
        }

        .finish {
            display: flex;
            align-items: center;
            line-height: 1;
            font-size: 32px;

            .time-text {
                color: #2D9D00;
                padding-left: 8px;
                padding-top: 8px;
            }
        }
    }

    .creator {
        display: flex;
        font-size: 24px;
        border-bottom: 1px solid #fff;

        .created {
            padding-right: 36px;
        }
    }

    .buy_relevant {
        margin-top: 24px;

        .enter_relevant {
            &>.title {
                text-align: center;
                font-size: 48px;
            }

            &>.buy {
                font-size: 24px;
                text-align: center;
            }
        }
    }

    .buy_box {
        padding-top: 36px;

        :deep(.buy_input) {

            .el-input__inner {
                height: 64px;
                font-size: 24px;
            }
        }
    }

    .payment_box {
        .payment_method {
            display: flex;
            align-items: center;
            padding: 16px 0;

            .balance {
                font-size: 24px;
                padding-right: 8px;
            }
        }

        .submit_payment {
            height: 64px;
            font-size: 24px;
        }

        .buy_hint {
            padding-top: 8px;
            text-align: center;
        }
    }
}

.nft_buy_info {
    width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.nft_buy_info_l {
    width: 30rem;

    .type-tabs {

        :deep(.el-tabs__nav) {
            width: 100%;
        }

        :deep(.el-tabs__item) {
            flex: 1;
            box-sizing: border-box;
            font-size: 32px;
            color: #fff;

            &.is-active {
                color: var(--el-color-primary);
            }
        }
    }
}

// .buy_list {}

.buy_item {
    margin: 0 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .buy_item_l {
        display: flex;
        align-items: center;
        padding-right: 16px;

        img {
            width: 96px;
            height: auto;
        }
    }

    .buy_item_r {
        flex: 1;
    }

    .buy_info,
    .buy_other {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;

        .buy_name {
            font-size: 36px;
        }

        .buy_val,
        .buy_time {
            font-size: 24px;
            color: var(--el-color-primary);
        }

        .buy_id {
            font-size: 16px;
        }
    }
}

.load_more {
    cursor: pointer;
    margin-top: 24px;
    font-size: 36px;
    color: #fff;
}

.nft_buy_info_r {
    flex: 1;
    padding-left: 48px;
    text-align: left;

    .description_text,
    .traits_text {
        font-size: 36px;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .nft_info {
        padding: 16px 0px;
        font-size: 24px;

        .nft_name {
            font-weight: bold;
            padding-left: 4px;
        }
    }

    .nft_description {
        font-size: 24px;
        min-height: 240px;
    }
}

.traits_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;

    &>div {
        margin-right: 0.5rem;
    }

    &>div:nth-child(n+5) {
        margin-top: 0.5rem;
    }

    &>div:nth-child(4n) {
        margin-right: 0px;
    }

    .traits_item {
        width: 24%;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.2);

        .traits_item_name {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.6);
        }

        .traits_item_val {
            font-size: 24px;
            color: #fff;
        }
    }
}

.invite_box {
    margin-top: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);

    .invite_text {
        text-align: center;
        font-size: 36px;
    }

    .choose_invite_code {
        display: flex;
        align-items: center;
        justify-content: center;

        .el-select {
            width: 160px;
        }

        :deep(.el-input__wrapper) {
            border: none;
            outline: none;
            background-color: transparent;
            box-shadow: none !important;
        }

        :deep(.el-input__inner) {
            border: none;
            outline: none;
        }
    }
}

.ending_soon_box {
    width: 75rem;
    margin: 0 auto;
    padding-top: 48px;

    .ending_soon_text {
        font-size: 36px;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}

.ending_soon_list {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.ending_soon_item {
    width: 16%;
    min-height: 360px;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 1rem;

    .image_box {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 240px;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 10px;

        .image_tag {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: #fff;
            padding: 2px 30px;
            border-radius: 20px;
            color: #000;
            line-height: 1;
        }

        img {
            width: 100%;
        }

        .status_tag {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #fff;
            padding: 2px 30px;
            border-radius: 20px;
            color: #fff;
            line-height: 1;

            &.time {
                background-color: rgba(232, 97, 90, 1);
            }

            &.num {
                background-color: rgba(191, 90, 196, 1);
            }
        }
    }

    .nft_name {
        padding: 4px 0;
        font-size: 40px;
        color: #000;
        line-height: 1;
    }

    .nft_price {
        color: #000;
    }

    .buy_btn {
        margin: 0 20px;
        background-color: rgba(22, 155, 213, 1);
        padding: 8px 30px;
        border-radius: 8px;
        color: #000;
        cursor: pointer;
    }

    .remaining_votes {
        color: #000;
    }
}

.winning_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 0;

    .winning_text {
        font-size: 36px;
        color: #fff;
        font-weight: bold;
    }

    img {
        width: 10rem;
        height: auto;
        padding: 8px;
    }
}

.return_box {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

:deep(input::-webkit-outer-spin-button),
:deep(input::-webkit-inner-spin-button) {
    -webkit-appearance: none;
}

:deep(input[type="number"]) {
    -moz-appearance: textfield;
}