.wrapper_bg {
  background-image: url("@/assets/img/box/lottery_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.ntf_tickets_info_wrapper {
  margin: 0 auto;
  width: 95rem;
  padding: 5rem 0;
}

.nft_details {
  display: flex;
  justify-content: space-between;
}

.nft_details_l {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.5rem;
  height: 41.5rem;
  border-radius: 0.625rem;
  overflow: hidden;

  .nft_img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
  }

  .tips_round {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: white;
    z-index: 2;

    &>div {
      display: flex;
      align-items: center;

      &>img {
        width: 1.125rem;
        height: auto;
        margin-right: 0.25rem;
      }
    }

    &.time {
      background-color: rgba(39, 97, 245, 0.8);
    }

    &.price {
      background-color: rgba(131, 56, 236, 0.8);
    }

    &.finish {
      background-color: rgba(9, 139, 46, 0.8);
    }

    &.aborted {
      background-color: rgba(187, 54, 12, 0.8);
    }

    &.cancel {
      background-color: rgba(146, 148, 156, 0.8);
    }
  }
}

.nft_details_r_bg {
  flex: 1;
  min-height: 41.5rem;
  margin-left: 1.875rem;
}

.border_bg {
  box-sizing: border-box;
  padding: 1px;
  border-image-source: linear-gradient(120deg,
      #ff25c2 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 75%,
      #ff25c2 100%, );
  border-image-slice: 1;
  border-radius: 0.625rem;
  background-image: linear-gradient(135deg, #2D1642, #13151F),
    linear-gradient(120deg,
      #ff25c2 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 75%,
      #ff25c2 100%, );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.nft_details_r {
  color: #fff;
  text-align: left;
  padding: 1.875rem;
  box-sizing: border-box;

  .nft_name {
    font-family: BlenderPro;
    font-size: 3rem;
    line-height: 1.25;
    font-weight: bold;
    color: white;
  }

  .nft_activity {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .price_box {
      display: flex;
      align-items: flex-end;
    }

    .price {
      display: flex;
      align-items: flex-end;

      .title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: #a9a4b4;
      }

      .val,
      .unit {
        font-family: Tomorrow;
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: #11cde9;
      }
    }

    .floor_price {
      display: flex;
      align-items: flex-end;
      padding-left: 1rem;

      .title {
        font-family: Inter;
        font-size: 0.75rem;
        line-height: 1.6;
        text-align: left;
        color: #a9a4b4;
      }

      .val,
      .unit {
        font-family: Inter;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        color: #9f8fef;
      }
    }

    .time {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5;
      color: #fad54d;

      img {
        width: 1.125rem;
        height: auto;
        margin-right: 0.5rem;
      }
    }

    .finish,
    .aborted,
    .cancel {
      display: flex;
      align-items: center;

      img {
        width: 1.125rem;
        margin-right: 0.5rem;
      }

      .time-text {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
        color: rgba(9, 139, 46, 0.8);
      }
    }

    .aborted {
      .time-text {
        font-size: 1rem;
        color: rgba(187, 54, 12, 0.8);
      }
    }

    .cancel {
      .time-text {
        font-size: 1rem;
        color: rgba(146, 148, 156, 0.8);
      }
    }
  }

  .creator {
    padding-top: 1rem;
    display: flex;

    &>div {
      padding-right: 36px;
      font-size: 0.875rem;
      line-height: 1.6;
      color: white;

      .title {
        text-align: left;
        color: #a9a4b4;
        padding-right: 0.5rem;
      }

      &.created {
        padding-right: 3.75rem;
      }
    }


  }

  .buy_relevant {
    margin-top: 1.875rem;
    padding: 1.875rem;
    border-radius: 0.625rem;
    backdrop-filter: blur(2.75rem);
    background-color: rgba(255, 255, 255, 0.05);

    .enter_relevant {
      &>.title {
        font-family: BlenderPro;
        font-size: 2.875rem;
        font-weight: bold;
        line-height: 1.3;
        text-align: center;
        color: white;
      }

      &>.buy_tips {
        font-size: 1.125rem;
        line-height: 1.6;
        text-align: center;
        color: #a9a4b4;
      }
    }
  }

  .buy_box {
    padding-top: 1rem;

    .buy_tips {
      font-size: 1rem;
      line-height: 1.6;
      text-align: left;
      color: rgba(255, 255, 255, 0.9);
      padding-bottom: 1.25rem;
    }

    :deep(.buy_input) {
      .el-input__wrapper {
        height: 4.375rem;
        border-radius: 0.5rem;
        box-sizing: border-box;
        border: solid 1px #363945;
        background-color: #13151f;
        box-shadow: none;

        &>input {
          font-size: 1.125rem;
          line-height: 1.6;
          text-align: left;
          color: white;
        }
      }

      &.is-disabled {
        .el-input__wrapper {
          background-color: #282A34;
        }
      }
    }
  }

  .payment_box {
    padding-top: 1.875rem;

    .submit_payment {
      height: 4.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      border: none;
      box-shadow: none;
      background-image: linear-gradient(to top, #e3a406, #fbd851);

      font-family: LeagueSpartan;
      font-size: 1.5rem;
      line-height: 1;
      font-weight: bold;
      color: #13151f;

      img {
        margin-left: 0.25rem;
        width: 1.5rem;
        height: auto;
      }

      &.is-disabled {
        opacity: 0.68
      }
    }
  }
}

.nft_buy_info {
  display: flex;
  justify-content: space-between;
  padding-top: 1.875rem;
}

.buy_record {
  width: 38.5rem;
  min-height: 31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .type_tabs {
    margin-top: 1.875rem;
    padding: 0 1.875rem;
    --el-tabs-header-height: auto;
    height: auto !important;

    :deep(.el-tabs__nav) {
      width: 100%;
    }

    :deep(.el-tabs__header) {
      margin-bottom: 1.875rem;
    }


    :deep(.el-tabs__nav-wrap::after) {
      height: 0.125rem;
      background-color: #1d1f2b;
    }

    :deep(.el-tabs__active-bar) {
      height: 0.125rem;
      border-radius: 0.3125rem;
      background-image: linear-gradient(to top, #e3a406, #fbd851);
    }

    :deep(.el-tabs__item+.el-tabs__item) {
      margin-left: 1.875rem;
    }

    :deep(.el-tabs__item) {
      flex: 1;
      height: 4.625rem;
      line-height: 3.75rem;
      box-sizing: border-box;
      font-family: BlenderPro;
      font-size: 2.875rem;
      padding: 0 0 0.875rem;
      color: rgba(169, 164, 180, 0.3);
      box-sizing: border-box;

      &.is-active {
        color: #fad54d;
      }
    }
  }
}

.buy_list {
  width: 100%;
  box-sizing: border-box;
  padding: 0.625rem 1.875rem 1.875rem;
}

.buy_item {
  padding: 0.625rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1d1f2b;

  .buy_item_l {
    display: flex;
    align-items: center;
    padding-right: 1rem;

    img {
      width: 4rem;
      height: auto;
      border-radius: 50%;
    }


  }

  .buy_item_r {
    flex: 1;

    &.participants {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .buy_info,
  .buy_other {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buy_name {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.6;
      color: white;
    }

    .buy_time {
      font-size: 1rem;
      color: #fad54d;
    }

    .buy_val {
      font-size: 0.875rem;
      color: #fad54d;
    }

    .buy_id {
      font-size: 0.875rem;
      color: rgba(169, 164, 180, 0.6);
    }
  }
}

.load_more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.875rem;

  .load_btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #a9a4b4;

    img {
      width: 1rem;
      margin-left: 0.625rem;
    }
  }
}

.buy_history {
  width: 38.5rem;
  height: 27rem;
  background-image: url("@/assets/svg/home/nft_tickets_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.875rem;
  box-sizing: border-box;
  margin-top: 1.875rem;

  .history_title {
    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: auto;
      margin-right: 0.625rem;
    }

    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: white;
  }

}

.history_filter {
  padding-top: 1.25rem;

  :deep(.status_type) {
    width: 100%;

    .el-input__wrapper {
      box-shadow: none !important;
      border: none !important;
      padding: 0.375rem 0.625rem;
      border-radius: 0.5rem;
      background-color: #1d0f36;

      &>.el-input__inner {
        height: 1.25rem;
        font-family: Inter;
        font-size: 0.875rem;
        line-height: 1.43;
        text-align: left;
        color: #a9a4b4;
      }
    }
  }

  .choose_array {
    box-sizing: border-box;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    &>div+div {
      margin-left: 0.625rem;
    }

    .status_item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.375rem;
      border-radius: 0.5rem;
      border: solid 1px #363945;
      background-color: #1d0f36;

      font-family: Inter;
      font-size: 0.875rem;
      line-height: 1.43;
      text-align: center;
      color: #a9a4b4;

      img {
        margin-left: 0.25rem;
        width: 0.75rem;
        height: auto;
        cursor: pointer;
      }
    }
  }
}

:deep(.table_container) {
  margin-top: 1.25rem;
  background-color: #191c28;

  .cell {
    line-height: 2.25rem;
    font-size: 0.875rem;
    color: #a9a4b4;
    padding-right: 0;
  }

  th {
    &.el-table__cell {
      background-color: #191c28;
      border-bottom-color: #23172A;
      padding: 0;

      .cell {
        font-size: 0.875rem;
        line-height: 2.25rem;
        padding-right: 0;
      }
    }
  }

  tr {
    background-color: #151722;

    .el-table__cell {
      padding: 0;
    }
  }

  td {
    &.el-table__cell {
      border-bottom-color: #23172A;
    }
  }

  .el-table__empty-block {
    background-color: #151722;
    font-size: 1.125rem;
    color: #a9a4b4;
  }

  .el-table__body tr:hover>td {
    background-color: transparent;
  }

  .el-table__body {
    &>tbody {
      &>.el-table__row:nth-child(2n) {
        background-color: #281d31;
      }
    }
  }

  .el-table__inner-wrapper::before {
    display: none;
  }

  .price_box {
    display: flex;
    align-items: center;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    img {
      width: 1rem;
      height: auto;
      margin-right: 0.25rem;
    }

    &.date {
      img {
        margin-left: 0.25rem;
        margin-right: 0;
        cursor: pointer;
      }
    }
  }
}

.nft_buy_info_r {
  flex: 1;
  margin-left: 1.875rem;
  text-align: left;

  .description_box {
    padding: 1.875rem;
    box-sizing: border-box;
    min-height: 24.625rem;
    display: flex;
    flex-direction: column;
  }

  .description_text,
  .traits_text {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;

    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: auto;
      margin-right: 0.625rem;
    }
  }

  .nft_info {
    padding: 1.25rem 0;
    font-size: 1rem;
    color: #a9a4b4;

    .nft_name {
      font-weight: bold;
      padding-left: 0.25rem;
      color: white;
    }
  }

  .nft_description {
    font-size: 1.125rem;
    color: #a9a4b4;
    white-space: pre-wrap;
  }
}

.charts_title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 1.875rem 0;

  .charts_title {
    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: auto;
      margin-right: 0.625rem;
    }

    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: white;
  }

  .charts_price {
    display: flex;
    align-items: center;

    .price_title {
      font-family: Inter;
      font-size: 0.75rem;
      font-weight: normal;
      line-height: 1.6;
      text-align: right;
      color: #a9a4b4;
      padding-right: 0.25rem;
    }

    .price_val {
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.44;
      text-align: right;
      color: #9f8fef;
    }
  }
}

.traits_box {
  padding: 0 1.875rem 3.75rem;
}

.traits_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;

  &>div+div {
    margin-left: 1.25rem;
  }

  &>div:nth-child(n+5) {
    margin-top: 1.25rem;
  }

  &>div:nth-child(4n+1) {
    margin-left: 0px;
  }

  .traits_item {
    width: 11.7rem;
    box-sizing: border-box;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: #1d0f36;

    .traits_item_top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .traits_item_name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.875rem;
        line-height: 1.6;
        color: #a9a4b4;
      }

      .traits_item_num {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6;
        color: rgba(169, 164, 180, 0.3);

        img {
          width: 1.25rem;
          height: auto;
          margin-right: 0.25rem;
        }
      }
    }

    .traits_item_val {
      padding-top: 0.5rem;
      font-size: 1rem;
      line-height: 1.6;
      color: white;

      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;

      &>.item_val {
        display: block;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .item_ratio {
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.75rem;
      }
    }
  }
}

.invite_box {
  margin: 0 1.875rem 1.875rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.2);

  .invite_text {
    padding: 1.25rem 0 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: white;
  }

  .choose_invite_code {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    padding-bottom: 1.25rem;

    :deep(.el-select) {
      width: 13.625rem;
      margin: 0 1.25rem;


      .el-input__wrapper {
        height: 3.75rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        background-color: #1d0f36;
        box-shadow: none !important;

        &>input {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.6;
          text-align: left;
          color: #fad54d;
        }
      }
    }

    img {
      width: 1.5rem;
      height: auto;
      cursor: pointer;
    }

    &>img+img {
      margin-left: 0.625rem;
    }
  }
}

.ending_soon_box {
  margin: 0 auto;
  padding-top: 10.625rem;

  .ending_soon_text {
    font-family: Tomorrow;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
  }
}

.ending_soon_list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3.75rem;

  &>div+div {
    margin-left: 1.875rem;
  }
}

.ending_soon_item {
  width: 14.25rem;
  min-height: 25.375rem;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #1d0f36;

  &:hover {
    .img-box {
      &>.nft_img {
        transform: scale(1.15);
        transition: all 0.3s;
      }
    }
  }

  .image_box {
    position: relative;
    display: flex;
    width: 100%;
    height: 13rem;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0.625rem 0.625rem 0 0;

    .image_tag {
      max-width: 50%;
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      color: #0cbb3e;
      line-height: 1;
      background-color: rgba(6, 91, 30, 0.8);
      z-index: 2;
    }

    .nft_img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }

    .tips_round {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      padding: 0.25rem 0.75rem;
      border-radius: 0.25rem;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.6;
      color: white;
      display: flex;
      align-items: center;
      z-index: 2;

      img {
        width: 1.125rem;
        margin-right: 0.25rem;
      }

      &.time {
        background-color: rgba(39, 97, 245, 0.8);
      }

      &.price {
        background-color: rgba(131, 56, 236, 0.8);
      }
    }
  }

  .nft_name {
    padding: 1.25rem 1.25rem 0;
    font-family: BlenderPro;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &>span {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    img {
      margin-left: 0.25rem;
      width: 1.1875rem;
      height: auto;
    }
  }

  .nft_price {
    padding: 0 1.25rem;
    font-family: Tomorrow;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #11cde9;
  }

  .buy_btn {
    margin: 1.25rem 1.25rem 0;
    height: 2.875rem;
    line-height: 2.875rem;
    border-radius: 1.875rem;
    box-sizing: border-box;
    padding: 0.125rem;
    border-image-source: linear-gradient(to bottom,
        #1e90f9 12%,
        #e022e3 70%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #1b082b, #1b082b),
      linear-gradient(to bottom,
        #1e90f9 12%,
        #e022e3 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;

    &>span {
      background-image: linear-gradient(180deg,
          #1e90f9 0%,
          #e022e3 100%);
      font-size: 1.125rem;
      font-weight: bold;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }

  .remaining_votes {
    padding-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.6;
    text-align: center;
    color: #a9a4b4;
  }
}

.nft_end {
  padding-top: 1.875rem;

  .winning_interval {
    border-bottom: 1px dotted #293c44;
  }
}

.winning_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.875rem 0 0;

  .winning_text {
    display: flex;
    align-items: center;

    font-family: BlenderPro;
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: white;

    img {
      width: 1.5rem;
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  .avatar {
    width: 8rem;
    height: 8rem;
    margin: 0.625rem auto 1.25rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;

    img {
      width: 100%;
    }
  }

  .user_name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: white;
    padding-bottom: 0.25rem;
  }

  .tickets_num {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    color: #a9a4b4;
  }

  .safety_box {
    margin-top: 1.875rem;
    padding: 0.9375rem 1.25rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    border: solid 1px #25293e;
    background-color: #110429;
    font-size: 0.875rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    display: flex;
    align-items: center;

    &>img+div,
    &>div+div {
      margin-left: 2.5rem;
    }

    .safety_img {
      width: 2.5rem;
      height: auto;
    }

    .safety_text {
      display: flex;
      flex-direction: column;
      color: #a9a4b4;
    }

    .chain_link {
      display: flex;
      flex-direction: column;
      color: white;

      &>span:nth-child(1) {
        color: #fad54d;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.return_box {
  padding-top: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.6;
  text-align: left;
  color: #a9a4b4;
}

.choose_nums {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.625rem;

  .choose_nums_item+.choose_nums_item {
    margin-left: 1.5rem;
  }

  .choose_nums_item {
    flex: 1;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #13151f;
    border: 1px solid transparent;
    box-sizing: border-box;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1;
    color: rgba(169, 164, 180, 0.6);

    &.active,
    &:hover {
      background-image: linear-gradient(to top, #e3a406, #fbd851);
      color: #13151f;
    }

    // &:hover {
    //   border-style: solid;
    //   border-image-source: linear-gradient(to top, #e3a406, #fbd851);
    //   border-image-slice: 1;
    //   background-image: linear-gradient(to bottom, #13151f, #13151f), linear-gradient(to top, #e3a406, #fbd851);
    //   background-origin: border-box;
    //   background-clip: content-box, border-box;
    // }
  }
}

:deep(.dialog_box) {
  border-radius: 1.25rem;
  box-shadow: inset 0 0.125rem 0 0 rgba(255, 255, 255, 0.05);
  background-color: #20222d;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 0;
    position: relative;
    padding: 3.75rem 0;
  }
}