.wrapper_bg {
  background-image: url("@/assets/img/box/lottery_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.ntf_tickets_info_wrapper {
  margin: 0 auto;
  width: 95rem;
  padding: 5rem 0;
}

.nft_details {
  display: flex;
  justify-content: space-between;
}

.nft_details_l {
  position: relative;
  display: flex;
  width: 38.5rem;
  height: 41.5rem;
  border-radius: 0.625rem;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .tips_round {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    color: white;

    &.time {
      background-color: #2761F5;
    }

    &.price {
      background-color: #BE5432;
    }

    &.finish {
      background-color: rgba(9, 139, 46, 0.8);
    }

    &.aborted {
      background-color: #df4328;
    }
  }
}

.nft_details_r_bg {
  flex: 1;
  min-height: 41.5rem;
  margin-left: 1.875rem;
}

.border_bg {
  box-sizing: border-box;
  padding: 0.0625rem;
  border-image-source: linear-gradient(120deg,
      #ff25c2 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 75%,
      #ff25c2 100%, );
  border-image-slice: 1;
  border-radius: 0.625rem;
  background-image: linear-gradient(135deg, #2D1642, #13151F),
    linear-gradient(120deg,
      #ff25c2 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0) 75%,
      #ff25c2 100%, );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.nft_details_r {
  color: #fff;
  text-align: left;
  padding: 1.875rem;
  box-sizing: border-box;

  .nft_name {
    font-family: BlenderPro;
    font-size: 3rem;
    line-height: 1.25;
    font-weight: bold;
    color: white;
  }

  .nft_activity {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .price {
      display: flex;
      align-items: flex-end;
      color: #FF7200;

      .title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
        color: #a9a4b4;
      }

      .val,
      .unit {
        font-family: Tomorrow;
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 1;
        text-align: left;
        color: #11cde9;
      }
    }

    .time {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5;
      color: #fad54d;

      img {
        width: 1.125rem;
        height: auto;
        margin-right: 0.5rem;
      }
    }

    .finish,
    .aborted {
      display: flex;
      align-items: center;

      img {
        width: 1.125rem;
        margin-right: 0.5rem;
      }

      .time-text {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5;
        color: rgba(9, 139, 46, 0.8);
      }
    }

    .aborted {
      .time-text {
        font-size: 1rem;
        color: #df4328;
      }
    }
  }

  .creator {
    padding-top: 1rem;
    display: flex;

    &>div {
      padding-right: 36px;
      font-size: 0.875rem;
      line-height: 1.6;
      color: white;

      .title {
        text-align: left;
        color: #a9a4b4;
        padding-right: 0.5rem;
      }

      &.created {
        padding-right: 3.75rem;
      }
    }


  }

  .buy_relevant {
    margin-top: 1.875rem;
    padding: 1.875rem;
    border-radius: 0.625rem;
    backdrop-filter: blur(2.75rem);
    background-color: rgba(255, 255, 255, 0.05);

    .enter_relevant {
      &>.title {
        font-family: BlenderPro;
        font-size: 2.875rem;
        font-weight: bold;
        line-height: 1.3;
        text-align: center;
        color: white;
      }

      &>.buy_tips {
        font-size: 1.125rem;
        line-height: 1.6;
        text-align: center;
        color: #a9a4b4;

        &>span {
          font-weight: 500;
          color: #fad54d;
        }
      }
    }
  }

  .buy_box {
    padding-top: 1rem;

    .buy_tips {
      font-size: 1rem;
      line-height: 1.6;
      text-align: left;
      color: rgba(255, 255, 255, 0.9);
      padding-bottom: 1.25rem;
    }

    :deep(.buy_input) {
      .el-input__wrapper {
        height: 4.375rem;
        border-radius: 0.5rem;
        box-sizing: border-box;
        border: solid 1px #363945;
        background-color: #13151f;
        box-shadow: none;

        &>input {
          font-size: 1.125rem;
          line-height: 1.6;
          text-align: left;
          color: white;
        }
      }
    }
  }

  .payment_box {
    padding-top: 1.875rem;

    .payment_method {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      .balance {
        font-size: 1rem;
        padding-right: 0.5rem;
      }
    }

    .submit_payment {
      height: 4.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      border: none;
      box-shadow: none;
      background-image: linear-gradient(to top, #e3a406, #fbd851);

      font-family: LeagueSpartan;
      font-size: 1.5rem;
      line-height: 1;
      font-weight: bold;
      color: #13151f;
    }

    .buy_hint {
      padding-top: 1rem;
      font-size: 1rem;
      line-height: 1.6;
      text-align: center;
      color: #a9a4b4;
    }
  }
}

.nft_buy_info {
  display: flex;
  justify-content: space-between;
  padding-top: 1.875rem;
}

.nft_buy_info_l {
  width: 38.5rem;
  min-height: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .type_tabs {
    margin-top: 1.875rem;
    padding: 0 1.875rem;
    --el-tabs-header-height: auto;
    height: auto !important;

    :deep(.el-tabs__nav) {
      width: 100%;
    }

    :deep(.el-tabs__header) {
      margin-bottom: 1.875rem;
    }


    :deep(.el-tabs__nav-wrap::after) {
      height: 0.125rem;
      background-color: #1d1f2b;
    }

    :deep(.el-tabs__active-bar) {
      height: 0.125rem;
      border-radius: 0.3125rem;
      background-image: linear-gradient(to top, #e3a406, #fbd851);
    }

    :deep(.el-tabs__item+.el-tabs__item) {
      margin-left: 1.875rem;
    }

    :deep(.el-tabs__item) {
      flex: 1;
      height: 4.625rem;
      line-height: 3.75rem;
      box-sizing: border-box;
      font-family: BlenderPro;
      font-size: 2.875rem;
      padding: 0 0 0.875rem;
      color: rgba(169, 164, 180, 0.3);
      box-sizing: border-box;

      &.is-active {
        color: #fad54d;
      }
    }
  }
}

.buy_list {
  width: 100%;
  box-sizing: border-box;
  padding: 0.625rem 1.875rem 1.875rem;
}

.buy_item {
  padding: 1.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #1d1f2b;

  .buy_item_l {
    display: flex;
    align-items: center;
    padding-right: 1rem;

    img {
      width: 4rem;
      height: auto;
      border-radius: 50%;
    }


  }

  .buy_item_r {
    flex: 1;

    &.participants {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .buy_info,
  .buy_other {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buy_name {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.6;
      color: white;
    }

    .buy_time {
      font-size: 1rem;
      color: #fad54d;
    }

    .buy_val {
      font-size: 0.875rem;
      color: #fad54d;
    }

    .buy_id {
      font-size: 0.875rem;
      color: rgba(169, 164, 180, 0.6);
    }
  }
}

.load_more {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.875rem;

  .load_btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #a9a4b4;

    img {
      width: 1rem;
      margin-left: 0.625rem;
    }
  }
}

.nft_buy_info_r {
  flex: 1;
  margin-left: 1.875rem;
  text-align: left;

  .description_box {
    padding: 1.875rem;
    box-sizing: border-box;
    min-height: 24.625rem;
    display: flex;
    flex-direction: column;
  }

  .description_text,
  .traits_text {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
  }

  .nft_info {
    padding: 1.25rem 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);

    .nft_name {
      font-weight: bold;
      padding-left: 4px;
    }
  }

  .nft_description {
    font-size: 1.125rem;
  }
}

.traits_box {
  padding: 0 1.875rem 3.75rem;
}

.traits_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;

  &>div+div {
    margin-left: 1.25rem;
  }

  &>div:nth-child(n+5) {
    margin-top: 1.25rem;
  }

  &>div:nth-child(4n+1) {
    margin-left: 0px;
  }

  .traits_item {
    width: 11.75rem;
    box-sizing: border-box;
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: #1d0f36;

    .traits_item_name {
      font-size: 0.875rem;
      line-height: 1.6;
      color: #a9a4b4;
    }

    .traits_item_val {
      padding-top: 0.5rem;
      font-size: 1rem;
      line-height: 1.6;
      color: white;
    }
  }
}

.invite_box {
  margin: 0 1.875rem 1.875rem;
  border-radius: 0.625rem;
  background-color: rgba(0, 0, 0, 0.2);

  .invite_text {
    padding: 1.25rem 0 0.75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: white;
  }

  .choose_invite_code {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    color: #a9a4b4;
    padding-bottom: 1.25rem;

    :deep(.el-select) {
      width: 13.625rem;
      margin-left: 1.25rem;

      .el-input__wrapper {
        height: 3.75rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        background-color: #1d0f36;
        box-shadow: none !important;

        &>input {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.6;
          text-align: left;
          color: #fad54d;
        }
      }
    }
  }
}

.ending_soon_box {
  margin: 0 auto;
  padding-top: 10.625rem;

  .ending_soon_text {
    font-family: Tomorrow;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom, rgba(234, 32, 141, 0.9) 15%, #e63a97 39%, #f1f1cb 70%);
  }
}

.ending_soon_list {
  display: flex;
  justify-content: space-between;
  padding-top: 3.75rem;
}

.ending_soon_item {
  width: 14.25rem;
  min-height: 25.375rem;
  border-radius: 0.625rem;
  overflow: hidden;

  .image_box {
    position: relative;
    display: flex;
    width: 100%;
    height: 13rem;
    overflow: hidden;
    box-sizing: border-box;

    .image_tag {
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      background-color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      color: #0cbb3e;
      line-height: 1;
      background-color: rgba(6, 91, 30, 0.8);
    }

    img {
      width: 100%;
      height: auto;
    }

    .tips_round {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      padding: 0.25rem 0.75rem;
      border-radius: 0.25rem;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.6;
      color: white;
      display: flex;
      align-items: center;

      img {
        width: 1.125rem;
        margin-right: 0.25rem;
      }

      &.time {
        background-color: #2761f5;
      }

      &.price {
        background-color: #BE5432;
      }
    }
  }

  .nft_name {
    padding: 1.25rem 1.25rem 0;
    font-family: BlenderPro;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &>span {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    img {
      margin-left: 0.25rem;
      width: 1.1875rem;
      height: auto;
    }
  }

  .nft_price {
    padding: 0 1.25rem;
    font-family: Tomorrow;
    font-size: 1.875rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #11cde9;
  }

  .buy_btn {
    margin: 1.25rem 1.25rem 0;
    height: 2.875rem;
    line-height: 2.875rem;
    border-radius: 1.875rem;
    box-sizing: border-box;
    padding: 0.125rem;
    border-image-source: linear-gradient(to bottom,
        #1e90f9 12%,
        #e022e3 70%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #1b082b, #1b082b),
      linear-gradient(to bottom,
        #1e90f9 12%,
        #e022e3 70%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;

    &>span {
      background-image: linear-gradient(180deg,
          #1e90f9 0%,
          #e022e3 100%);
      font-size: 1.125rem;
      font-weight: bold;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }

  .remaining_votes {
    padding-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.6;
    text-align: center;
    color: #a9a4b4;
  }
}

.nft_end {
  padding-top: 1.875rem;

  .winning_interval {
    border-bottom: 0.0625rem dotted #293c44;
  }
}

.winning_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.875rem 0 0;

  .winning_text {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;

    font-family: BlenderPro;
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: white;

    img {
      width: 1.5rem;
      margin-left: 1rem;
    }
  }

  .avatar {
    width: 8rem;
    height: 8rem;
    margin: 1.875rem auto 1.25rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #fff;

    img {
      width: 100%;
    }
  }

  .user_name {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: white;
    padding-bottom: 0.25rem;
  }

  .tickets_num {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    color: #a9a4b4;
  }
}

.return_box {
  padding-top: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.6;
  text-align: left;
  color: #a9a4b4;

  &>span {
    font-weight: 500;
    color: white;
  }
}