@font-face {
  font-family: 'LeagueSpartan';
  src: url('./LeagueSpartan-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tomorrow';
  src: url('./Tomorrow-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medium';
  src: url('./Inter-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('./Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BlenderPro';
  src: url('./BlenderPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
}