.header {
  width: 100%;
  border-bottom: 1px solid #25293e;
  box-sizing: border-box;
  max-width: 120rem;
  height: 6.625rem;
  padding: 0 6.25rem;
  margin: 0 auto;
}

.header-main {
  height: 6.625rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-logo {
  height: 3.625rem;
  cursor: pointer;
}

.header-nav-text {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #92949c;

  &:active {
    color: #fff;
  }
}

.header-left,
.header-nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
}

.header-nav {
  margin-left: 90px;

  &>li+li {
    margin-left: 2.5rem;
  }

  .header-nav-text {
    cursor: pointer;
  }
}


.header-right {
  display: flex;
  align-items: center;

  &>div+div {
    margin-left: 1.875rem;
  }

  .btn-box {
    padding: 0.9375rem 1.875rem;
    font-size: 1.125rem;
    border-radius: 3.75rem;
    cursor: pointer;

    &.login {
      color: #fad54d;
    }

    &.register {
      background-color: #fad54d;
      color: #13151f;
    }
  }
}

.header-button {
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  border-radius: 20px;
  border: solid 2px #fff;
  background-image: linear-gradient(0, #b164f6 15%, #026aa1 58%, #42e2f0 79%);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.header-wallet {
  width: 171px;
  height: 48px;
  border-radius: 24px;
  background-color: #2e0d4a;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-around;
}

.header-wallet-img {
  width: 24px;
  height: 24px;
}

.header-wallet-money {
  font-size: 24px;
  color: #fff;
}

.header-wallet-add {
  display: inline-block;
  width: 52px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: url('@/assets/img/headerFooter/icon-add.png') no-repeat center center #a896b5;
}

.boxes-button {
  cursor: pointer;
  position: relative;
  overflow: visible;
  height: 40px;
  margin-top: 0;
  margin-left: 16px;

  &:hover {
    .header-user {
      transform: scaleY(1);
      opacity: 1;
    }

    .header-user-down {
      transform: rotate(0);
    }
  }
}

.header-user {
  transform: scaleY(0);
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 16px;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.2s ease;
  transform-origin: top;
  z-index: 100;
}

.header-user-main {
  padding: 0;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to bottom,
      #6ce1f9,
      #00669b 48%,
      #b770f4);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #2d1942, #2d1942),
    linear-gradient(to bottom, #6ce1f9, #00669b 48%, #b770f4);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.header-user-content {
  padding: 8px;
}

.header-user-list {
  font-size: 18px;
  color: #a896b5;
  border-radius: 8px;
  padding: 0 8px;
  height: 40px;
  text-align: left;
  display: flex;
  align-content: center;
  align-items: center;

  &:hover {
    color: #f5e1d6;
    background-color: rgba(168, 150, 181, 0.1);
  }
}

.header-user-img {
  width: 24px;
  height: 24px;
}

.boxes-button-text {
  max-width: 100px;
  height: 22px;
  margin: 0 8px;
}

.header-user-down {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.header-user-list-img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-user-list {
  &:hover {
    .myProfile {
      background-image: url('@/assets/img/headerFooter/icon-profile-hover.png');
    }

    .wallet {
      background-image: url('@/assets/img/headerFooter/icon-walletdefault-hover.png');
    }

    .walletLog {
      background-image: url('@/assets/img/headerFooter/icon-walletlogdefault-hover.png');
    }

    .competitions {
      background-image: url('@/assets/img/headerFooter/icon-competitionsdefault-hover.png');
    }

    .myCollections {
      background-image: url('@/assets/img/headerFooter/icon-collectiondefault-hover.png');
    }

    .create {
      background-image: url('@/assets/img/headerFooter/icon-create-hover.png');
    }

    .referral {
      background-image: url('@/assets/img/headerFooter/icon-referraldefault-hover.png');
    }

    .settings {
      background-image: url('@/assets/img/headerFooter/icon-settingsdefault-hover.png');
    }

    .logout {
      background-image: url('@/assets/img/headerFooter/icon-logoutdefault-hover.png');
    }
  }
}

.myProfile {
  background-image: url('@/assets/img/headerFooter/icon-profile.png');
}

.wallet {
  background-image: url('@/assets/img/headerFooter/icon-walletdefault.png');
}

.walletLog {
  background-image: url('@/assets/img/headerFooter/icon-walletlogdefault.png');
}

.competitions {
  background-image: url('@/assets/img/headerFooter/icon-competitionsdefault.png');
}

.myCollections {
  background-image: url('@/assets/img/headerFooter/icon-collectiondefault.png');
}

.create {
  background-image: url('@/assets/img/headerFooter/icon-create.png');
}

.referral {
  background-image: url('@/assets/img/headerFooter/icon-referraldefault.png');
}

.settings {
  background-image: url('@/assets/img/headerFooter/icon-settingsdefault.png');
}

.logout {
  background-image: url('@/assets/img/headerFooter/icon-logoutdefault.png');
}

.header-nft {
  margin-top: 10px;
}

.header-nft,
.header-nft-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.header-nft-label {
  display: inline-block;
  width: 70px;
}

.header-nft-input {
  flex: 1;
}

.header-nft-add {
  margin: 10px auto;
  width: 100%;
}

.header-nft-button {
  width: 100%;
}

.header-nft-icon {
  margin-left: 3px;
}