.header {
  border-bottom: 1px solid #25293e;
  height: 6.625rem;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0 6.25rem;
}

.header-main {
  height: 6.625rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-logo {
  height: 3.625rem;
  cursor: pointer;
}

.header-nav-text {
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #92949c;

  &:active {
    color: #fff;
  }
}

.header-left,
.header-nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
}

.header-nav {
  margin-left: 90px;

  & > li + li {
    margin-left: 2.5rem;
  }

  .header-nav-text {
    cursor: pointer;
  }
}

.header-right {
  display: flex;
  align-items: center;

  & > div + div {
    margin-left: 1.875rem;
  }

  .btn-box {
    padding: 0.9375rem 1.875rem;
    font-size: 1.125rem;
    border-radius: 3.75rem;
    cursor: pointer;

    &.login {
      color: #fad54d;
    }

    &.register {
      background-color: #fad54d;
      color: #13151f;
    }
  }
}

.header-button {
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  border-radius: 20px;
  border: solid 2px #fff;
  background-image: linear-gradient(0, #b164f6 15%, #026aa1 58%, #42e2f0 79%);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-left: 20px;
}

.header-wallet {
  width: 184px;
  height: 60px;
  border-radius: 8px;
  background-color: #1d0f36;
  padding: 0 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-around;
}

.header-wallet-img {
  width: 24px;
  height: 24px;
}

.header-wallet-money {
  max-width: 100px;
  font-size: 20px;
  font-weight: bold;
  background-image: linear-gradient(to top, #e3a406, #fbd851);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.header-wallet-add {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 5px;
  background-color: #11cde9;
  color: #000;
}

.header-user {
  cursor: pointer;
  position: relative;
  overflow: visible;
  height: 60px;
  width: 206px;
  margin-top: 0;
  margin-left: 16px;
  background-color: #1d0f36;
  padding: 0 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  &:hover {
    border-radius: 8px 8px 0 0;

    .header-user-popup {
      transform: scaleY(1);
      opacity: 1;
    }

    .header-user-down {
      transform: rotate(0);
    }
  }
}

.header-user-popup {
  transform: scaleY(0);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.2s ease;
  transform-origin: top;
  z-index: 100;
  padding: 20px 0;
  background-color: #1d0f36;
  color: #a9a4b4;
  font-size: 16px;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
}

.header-user-content {
  padding: 8px;
}

.header-user-list {
  font-size: 18px;
  color: #a896b5;
  border-radius: 8px;
  padding: 0 20px;
  height: 60px;
  text-align: left;
  display: flex;
  align-content: center;
  align-items: center;

  &:hover {
    color: #f5e1d6;
    background-color: rgba(168, 150, 181, 0.1);
  }
}

.header-user-img {
  width: 2rem;
  height: 2rem;
}

.header-user-text {
  max-width: 6.25rem;
  margin: 0 0.625rem 0 0.75rem;
  color: #a9a4b4;
  font-size: 1.125rem;
}

.header-user-down {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.header-user-list-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myProfile {
  background-image: url("@/assets/img/headerFooter/icon-profile.png");
}

.wallet {
  background-image: url("@/assets/img/headerFooter/icon-walletdefault.png");
}

.walletLog {
  background-image: url("@/assets/img/headerFooter/icon-walletlogdefault.png");
}

.competitions {
  background-image: url("@/assets/img/headerFooter/icon-competitionsdefault.png");
}

.myCollections {
  background-image: url("@/assets/img/headerFooter/icon-collectiondefault.png");
}

.create {
  background-image: url("@/assets/img/headerFooter/icon-create.png");
}

.referral {
  background-image: url("@/assets/img/headerFooter/icon-referraldefault.png");
}

.settings {
  background-image: url("@/assets/img/headerFooter/icon-settingsdefault.png");
}

.logout {
  background-image: url("@/assets/img/headerFooter/icon-logoutdefault.png");
}



.title-icon {
  position: absolute !important;
  top: 0;
  right: 10px;
}

.header-login {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}


