.war_game_index_wrapper {
  width: 95rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 5.625rem;
}

.war_game_wrapper {
  width: 95rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.panel_bg {
  box-shadow: inset 0 0 3.75rem 0.3125rem rgba(199, 42, 233, 0.5);
  border: solid 1px #c72ae9;
  background-color: rgba(199, 42, 233, 0.05);
}

.banner_box {
  height: 9.5625rem;
  padding-bottom: 1rem;
}

.tag_items {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  &>div+div {
    margin-left: 1rem;
  }

  .tag_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 2.75rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom,
        #c72ae9 0%,
        rgba(199, 42, 233, 0) 45%),
      linear-gradient(to bottom,
        rgba(199, 42, 233, 0.1),
        rgba(199, 42, 233, 0.1));

    text-shadow: 0 0 0.625rem #c72ae9;
    font-family: Tomorrow;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #ed9cff;
    opacity: 0.6;
    cursor: pointer;

    &.active {
      opacity: 1;
    }
  }
}

.war_game_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40.3125rem;
}

.war_game_user {
  width: 27.625rem;
  height: 100%;
  border-radius: 0.75rem;
  box-sizing: border-box;
}

.basic_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  box-sizing: border-box;

  .user_num {
    font-family: Inter;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #79bcc6;
  }

  .watcher_num {
    display: flex;
    align-items: center;

    font-family: Inter;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    color: #fad54d;

    img {
      width: 1.25rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }
}

.user_list_box {
  padding: 0 0.5rem;

  .user_item+.user_item {
    margin-top: 0.25rem;
  }
}

.user_item {
  display: flex;
  align-items: center;
  height: 4.25rem;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .borderSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .user_badge {
    width: 4.25rem;
    height: 100%;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;

    img {
      width: 3.375rem;
      height: auto;
    }
  }

  .user_info {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
  }
}

.info_box {
  padding: 0.625rem 0.75rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  height: 100%;
  display: flex;
  align-items: center;

  .avatar_img {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
  }

  .buy_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user_name {
      font-family: Inter;
      font-size: 0.875rem;
      line-height: 1.43;
      text-align: left;
      color: white;
    }

    .buy {
      display: flex;
      align-items: center;
      font-family: Inter;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.43;
      text-align: left;
      color: #11cde9;

      img {
        width: 1rem;
        height: auto;
        margin-right: 0.25rem;
      }
    }
  }
}

.tickets_box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .ratio {
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.43;
    text-align: right;
    color: #11cde9;
  }

  .reward_id {
    font-family: Inter;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: right;
    color: #a9a4b4;
  }
}

.lottery_panel {
  width: 45.375rem;
  height: 40.1875rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
}

.prize_pool {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.round {
  font-family: Inter;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;

  .round_title {
    font-size: 1rem;
    color: #79bcc6;
  }

  .round_val {
    font-size: 1.5rem;
    color: #fff;
  }
}

.war_game_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer_ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.25rem #c72ae9, inset 0 0 3px 0 #c72ae9;
  border: solid 0.25rem #c72ae9;
  box-sizing: border-box;
  transition: 0.3s;

  &.hover {
    box-shadow: none;
    border: none;
  }
}

.win_pointer {
  position: absolute;
  pointer-events: none;
  bottom: 6.625rem;
  top: 50%;
  left: 50%;
  margin-top: -0.875rem;
  transform: translate(-50%, -50%);
  width: 20.5rem;
  height: 22.1875rem;
  background-image: url("@/assets/svg/home/warGame/win_pointer.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.round_prize {
  max-width: 14rem;
  max-height: 12.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .round_num {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #79bcc6;
  }

  .win_user {
    .win_bg {
      margin: 0 auto;
      width: 10.875rem;
      height: 4rem;
      background-image: url("@/assets/svg/home/warGame/bg/win_avatar_bg.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;

      img {
        margin-top: -0.125rem;
        width: 3.25rem;
        height: auto;
      }
    }

    span {
      font-family: Inter;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      color: #fad54d;
    }
  }

  .round_prize_val {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.75rem 0;

    height: 4rem;
    border-radius: 6.25rem;
    box-shadow: inset 0 0 10px 0 #c72ae9;
    border: solid 1px #c72ae9;
    background-color: rgba(199, 42, 233, 0.3);

    span {
      font-family: Tomorrow;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.3;
      text-align: left;
      color: #11cde9;
      text-align: left;
      background-image: linear-gradient(to top, #e3a406, #fbd851);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.win {
      height: 3rem;

      span {
        font-size: 1rem;
      }
    }

    img {
      width: 1.5rem;
      height: auto;
      margin-right: 0.5rem;
    }
  }

  .round_prize_status {
    font-family: Inter;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #11cde9;

    .win_id {
      display: block;
      font-family: Inter;
      font-size: 0.75rem;
      line-height: 1.33;
      text-align: center;
      color: #a9a4b4;
    }

    .next_round {
      display: block;
      padding-top: 0.25rem;
      font-family: Inter;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.14;
      text-align: center;
      color: white;
    }
  }
}



.countdown_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;

  img {
    width: 2.5rem;
    height: auto;
  }

  .progress_bar {
    flex: 1;
    margin: 0 1.25rem 0 0.75rem;
    position: relative;
    box-sizing: border-box;

    .progress_bg {
      position: absolute;
      width: 100%;
      height: 1.375rem;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-image: url("@/assets/svg/home/warGame/bg/percentage_bg.svg");
      background-size: contain;
      z-index: 10;
    }
  }

  :deep(.el-progress) {
    padding: 0 0.5rem;

    .el-progress-bar {
      .el-progress-bar__outer {
        border-radius: 0 0.5rem 0 0;
        background-color: transparent;

        .el-progress-bar__inner {
          border-radius: 0;
        }
      }
    }
  }

  .countdown {
    min-width: 4.375rem;
    font-family: Tomorrow;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: right;
    color: #fff;
  }
}

.round_info_panel {
  width: 20.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.round_info {
  height: 11rem;
  padding: 1rem;
  border-radius: 0.75rem;
  box-sizing: border-box;

  .round_num {
    font-family: Inter;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: #79bcc6;
  }

  .info {
    display: flex;
    flex-wrap: wrap;

    .info_item {
      width: 50%;
    }

    .info_item:nth-child(n+3) {
      margin-top: 0.75rem;
    }
  }



  .info_val {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;

    img {
      width: 1.5rem;
      margin-right: 0.5rem;
    }

    span {
      font-family: Inter;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.6;
      text-align: left;
      color: #11cde9;
    }
  }

  .info_title {
    font-family: Inter;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: #a9a4b4;
  }
}

.connect_box {
  border-radius: 0.75rem;
  box-sizing: border-box;
  height: 28.375rem;
  background-image: url("@/assets/svg/home/warGame/bg/enter_war_bg.webp");
  background-position: center center;
  background-size: contain;
}

.not_connect {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter_war {
  width: 18.5rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 0.625rem #c72ae9;
  background-image: url("@/assets/svg/home/warGame/button/button_enter_war.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.56;
  text-align: center;
  color: #ed9cff;
  cursor: pointer;
}

.introduce_panel {
  margin-top: 6.125rem;
}

.introduce_bg {
  height: 35rem;
  background-image: url("@/assets/svg/home/warGame/bg/introduce_bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  box-shadow: inset 0 0 0 1px #c72ae9, inset 0 0 3.75rem 0.3125rem rgba(199, 42, 233, 0.5);
  box-sizing: border-box;
  background-color: rgba(199, 42, 233, 0.05);
}

.introduce_box {
  height: 35rem;
  padding: 1.875rem;
  box-sizing: border-box;
  background-image: url("@/assets/svg/home/warGame/bg/introduce_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  .introduce_title {
    text-shadow: 0 0 0.625rem #c72ae9;
    font-family: BlenderPro;
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 1.17;
    text-align: center;
    color: #ed9cff;
  }

  .introduce_divider {
    height: 3.9375rem;
  }

  .introduce_description {
    margin: 0 auto;
    width: 42rem;
    font-family: Inter;
    font-size: 1.25rem;
    text-align: center;
    color: white;
  }
}

.step_box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.step_arrow {
  width: 54rem;
  top: 1.875rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: space-between;

  img {
    width: 7.375rem;
    height: auto;
  }
}

.step_item {
  width: 21.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .step_img {
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.img_1 {
      img {
        width: 8.6875rem;
        height: auto;
      }
    }

    &.img_2 {
      img {
        width: 8.1875rem;
        height: auto;
      }
    }

    &.img_3 {
      img {
        width: 9.125rem;
        height: auto;
      }
    }

    &.img_4 {
      img {
        width: 9.25rem;
        height: auto;
      }
    }
  }

  .round {
    width: 5rem;
    height: 5.0625rem;
    margin: -0.375rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("@/assets/svg/home/warGame/icon_step.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    text-shadow: 0 0 0.75rem #c72ae9;
    font-family: Tomorrow;
    font-size: 0.625rem;
    font-weight: bold;
    text-align: center;
    color: #fad54d;
  }

  .description {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    color: white;
  }
}

.faq_panel {
  margin-top: 1.875rem;
  height: 47.0625rem;
  background-image: url("@/assets/svg/home/warGame/bg/faq_bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  box-shadow: inset 0 0 0 1px #c72ae9, inset 0 0 3.75rem 0.3125rem rgba(199, 42, 233, 0.5);
  box-sizing: border-box;
  background-color: rgba(199, 42, 233, 0.05);

  .faq_item+.faq_item {
    margin-top: 1.25rem;
  }
}

.faq_bg {
  height: 47.0625rem;
  padding: 1.875rem;
  box-sizing: border-box;
  background-image: url("@/assets/svg/home/warGame/bg/faq_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.faq_item {
  .faq_item_title {
    height: 1.5rem;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    color: #fad54d;
    margin-bottom: 0.625rem;
    text-shadow: 0 0 0.625rem #c72ae9;

    display: flex;
    align-items: center;
  }

  .faq_item_description {
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
    color: white;

    ul {
      padding-left: 1.5rem;

      li {
        list-style-type: disc;
      }
    }
  }

  .special_instructions {
    padding-top: 1.5rem;
    font-family: Inter;
    font-size: 1rem;
    text-align: left;
    color: white;
  }
}